/* FB Buttons */
 .jewels a {
    height : 15px;
    width : 5px;
    padding: 5px 20px 5px;
    margin: 5px 0 0 0px;
}
.jewels a.userButton.open {
    background-image: url(../img/fb_icons.png)!important;
    background-repeat: no- repeat!important;
    background-size: auto!important;
    background- position: 0 -354px!important;
}
.jewels a.userButton {
    background-image: url(../img/fb_icons.png);
    background-repeat: no-repeat;
    background- size: auto;
    background-position: -25px -255px;
}
.jewels a.messageButton.open {
    background-image: url(../img/fb_icons.png)!important;
    background-repeat: no- repeat!important;
    background-size: auto!important;
    background- position: -27px -322px!important;
}
.jewels a.messageButton {
    background-image: url(../img/fb_icons.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -73px -102px;
}
.jewels a.notifButton.open {
    background-image: url(../img/fb_icons.png)!important;
    background-repeat: no-repeat!important;
    background-size: auto!important;
    background-position: -77px -322px;
}
.jewels a.notifButton {
    background-image: url(../img/fb_icons.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -75px -185px;
}
.searchbar button {
    background-image: url(../img/fb_icons_2.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -62px -3px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
    display: block;
    height: 23px;
    padding: 0;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 22px;
}
.nav a.privacyButton {
    background-image: url(../img/fb_icons.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -37px -407px;
    height: 9px;
    margin-top: 11px;
    padding : 0px;
    width: 12px;
}
/* Generic styles */
 .bold {
    font-weight : 800;
}
.black {
    color : black;
}
.white {
    color : white;
}
.center {
    text-align : center;
}
.small {
	font-size : 10px;
}
.huge {
	font-size : 80px;
	line-height : 100px;
}
.opacity_half {
    opacity : 0.5;
}

/* Specific Template styles */
.topbar div > ul.nav.links a.settingButton, .nav.links a.settingButton {
    background-image: url(../img/fb_icons.png);
    background-repeat: no-repeat!important;
    background-size: auto!important;
    background-position: -80px 0!important;
    height : 15px;
    padding: 5px 10px 10px;
    margin: 5px 0 0 0px;
}
.topbar div > ul.nav.links li.topbar_profile a, .nav.links li.topbar_profile a {
    padding: 0px 0px 0px 0px;
    margin: 5px 0 0 0px;
}
.topbar div > ul.nav.links li.topbar_profile a .profile_name, .nav.links li.topbar_profile a .profile_name {
    padding: 0px 0px 0px 0px;
    margin: 5px 5px 0px 0px;
    max-width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}
.topbar .profile_dp {
    height : 23px;
    width : 23px;
    margin: 3px 5px 3px 3px;
}
.below_topbar {
	margin-top : 40px;
}
.main_body {
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    padding: 10px 10px;
}
.sidebar {
    padding: 10px 10px;
}
.sidebar #profile_tab {
    padding : 10px;
    font-size: 11px;
}
.sidebar #profile_tab .profile_dp {
    height : auto;
    width : 47px;
    margin: 3px 5px 3px 3px;
    display: inline-block;
}
.sidebar #profile_tab .profile_name {
    width : 50%;
    padding: 0px 0px 0px 0px;
    margin: 5px 5px 0px 0px;
    display: inline-block;
    word-wrap: break-word;
    vertical-align: top;
    white-space: nowrap;
}
.sidebar .group_link_head, .group_head {
    color: #999;
    font-size: 9px;
    font-weight: bold;
    padding-top : 10px;
}
ul.group_link.vertical {
    list-style-type: none;
    margin : 0px;
}
ul.group_link.vertical > li {
    width: 100%;
    padding : 3px;
}
ul.group_link.vertical > li a {
    color : black;
    width : 100%;
    display : block;
    font-size : 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    text-decoration : none;
    color : #333333;
}
ul.group_link.vertical > li:hover, ul.group_link.vertical > li a:hover {
    color : black;
    text-decoration : none;
    background-color : rgb(239, 242, 247);
}
.sidebar ul.group_link.vertical > li.active {
    font-weight : bold;
    background-color: rgb(216, 223, 234);
}
.sidebar ul.group_link.vertical > li.active a:hover, .sidebar ul.group_link.vertical > li.active:hover {
    font-weight : bold;
    background-color: rgb(216, 223, 234);
}
.counter {
    opacity : 1;
    font-size : 10px;
    background-color: #d8dfea;
    color: #3b5998;
}
.counter.loading {
    opacity : 1;
    background-color: transparent;
}
.topbar .counter {
    font-size : 9px;
    font-weight : 300;
    background-color: #dd3333;
    line-height : 11px;
    float : right;
    margin-top : -5px;
    color: #ffffff;
    position : absolute;
}
.icon-loading {
    background-image: url(../img/loading.png);
    height: 12px;
    width: 12px;
    z-index : 99;
    background-color: transparent;
    -webkit-animation: rotateSpinner 1.2s linear infinite;
}
@-webkit-keyframes rotateSpinner {
    0% {
        -webkit-transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(360deg)
    }
}
label {
    vertical-align: middle;
}
hr {
    border-color : #DDD;
    margin : 20px 0px;
}
.popover {
    z-index : 99999;
}
.popover .inner{
    opacity : 1;
    background-color : #fff;
}
.popover .title{
    opacity : 1;
    background-color : #fff;
}.hidden {
    display : none;
}
.popover.jewel_popover .inner {
    width : 400px;
    max-height : 50%;
}
.popover.jewel_popover .inner .content {
    margin : 0px;
    padding : 0px;
}


/* Extended bootstrap */
form .error > label, 
form .error .help-block, 
form .error .help-inline {
  color: #dd3c10;
}
form input.error, form textarea.error {
  color: #dd3c10;
  border-color: #dd3c10;
}
form input.error:focus, form textarea.error:focus {
  border-color: #ad2f0d;
  -webkit-box-shadow: 0 0 6px #f37f60;
  -moz-box-shadow: 0 0 6px #f37f60;
  box-shadow: 0 0 6px #f37f60;
}
form .error .input-prepend .add-on, form .error .input-append .add-on {
  color: #dd3c10;
  background-color: #ffebe8;
  border-color: #ad2f0d;
}
form .warning > label, form .warning .help-block, form .warning .help-inline {
  color: #e2c822;
}
form .warning input, form .warning textarea {
  color: #e2c822;
  border-color: #e2c822;
}
form .warning input:focus, form .warning textarea:focus {
  border-color: #b9a318;
  -webkit-box-shadow: 0 0 6px #eede7c;
  -moz-box-shadow: 0 0 6px #eede7c;
  box-shadow: 0 0 6px #eede7c;
}
form .clearfix.warning .input-prepend .add-on, form .clearfix.warning .input-append .add-on {
  color: #e2c822;
  background-color: #fff9d7;
  border-color: #b9a318;
}
form .clearfix.success > label, form .clearfix.success .help-block, form .clearfix.success .help-inline {
  color: #3b6e22;
}
form .clearfix.success input, form .clearfix.success textarea {
  color: #3b6e22;
  border-color: #3b6e22;
}
form .clearfix.success input:focus, form .clearfix.success textarea:focus {
  border-color: #264716;
  -webkit-box-shadow: 0 0 6px #65bc3a;
  -moz-box-shadow: 0 0 6px #65bc3a;
  box-shadow: 0 0 6px #65bc3a;
}
form .clearfix.success .input-prepend .add-on, form .clearfix.success .input-append .add-on {
  color: #3b6e22;
  background-color: #3b6e22;
  border-color: #264716;
}
