# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.pot
*.pyc
*.py~
*.html~
*.sublime-project
*.sublime-workspace
.AppleDouble
.DS_Store
.c9revisions

# Server config files
restart-project.sh

# Local config files
venv
deps
tmp
temp

# User specific files
files/media/*
files/static-collected/*
files/static/img/fest_pics/*
files/static/json/*
files/templates/base/meta.html
static-permission.sh
runscript.c
runscript
# General configs
configs/settings.py
configs/settings.bak*
configs/docs_oauth2_credentials.json
configs/google_api_credentials.json

#Documentation build files
doc/*

