# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.pot
*.pyc
*.py~
*.html~
*.sublime-project
*.sublime-workspace
.AppleDouble
.DS_Store
.c9revisions

# Server config files
restart-project.sh

# Local config files
venv
deps

# User specific files
files/media/*
files/static-collected/*

# General configs
configs/settings.py
configs/docs_client_secret.json

#Documentation build files
doc/*

