{% load staticfiles %}

<div id='profile_tab' class='span12'>
    <a href='#'><img class='profile_dp' src='{% static "img/temp/profile.jpg" %}' /></a>
    <div class='profile_name'>
        <a href='#' class='bold'>{{ user.get_full_name }}</a><br />
        <a href="{% url 'apps.users.views.profile' %}" class=''>Edit your Profile</a>
    </div>
</div>

<div id='favourite_links' class='span12 links'>
    <div class='group_link_head'>FAVOURITES</div>
    <ul class='group_link vertical'>
        <li class='active'><a href='#'>
            <i class='icon-search'></i> News feed
            <span class='label  pull-right counter'>0</span>
        </a></li>
        <li><a href='#'>
            <i class='icon-search'></i> Messages
            <span class='label pull-right counter'>0</span>
        </a></li>
        <li><a href='#'>
            <i class='icon-search'></i> User Contacts
            <span class='label pull-right counter'>0</span>
        </a></li>
    </ul>
</div>

<div id='page_links' class='span12 links'>
    <div class='group_link_head'>WALLS</div>
    <ul class='group_link vertical'>
        <li><a href='#'>
            <i class='icon-search'></i> Personal page
            <span class='label pull-right counter'>0</span>
        </a></li>
        <li><a href='#'>
            <i class='icon-search'></i> Department page
            <span class='label pull-right counter'>0</span>
        </a></li>
        <li><a href='#'>
            <i class='icon-search'></i> Event page
            <span class='label pull-right counter'>0</span>
        </a></li>
    </ul>
    
</div>

<div id='portal_links' class='span12 links'>
    <div class='group_link_head'>PORTALS</div>
    <ul class='group_link vertical'>
        <li><a href='#'>
            <i class='icon-search'></i> Events Portal
            <span class='label label-info pull-right'>0</span>
        </a></li>
        <li><a href='#'>
            <i class='icon-search'></i> Personal page
            <span class='label label-info pull-right'>0</span>
        </a></li>
        <li><a href='#'>
            <i class='icon-search'></i> Personal page
            <span class='label label-info pull-right'>0</span>
        </a></li>
    </ul>
    
</div>
