{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block title %} {{ FEST_NAME }} {% endblock %}

{% block content %}
    <div class='container'>
        <div class='row centered'>
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_css %}
{{ block.super }}
<style type='text/css'>
</style>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script type='text/javascript'>
</script>
{% endblock %}
