{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} {{ FEST_NAME }} {% endblock %}

{% block navbar%}
<style>
table td{
  border-top: 0;
  padding-top: 0;
  vertical-align: center;
}
table th, table td{
  padding: 0;
}
</style>
<div class='topbar' >
  <div class='topbar-inner' style="height: 82px;">
    <div class='container-fluid'>
      <div class='row-fluid' style="padding-top:20px">
        <a class='brand offset1 bold' href='{{ SITE_URL }}'>{{ FEST_NAME }}</a>
        <div class="pull-right" style="padding-right:40px;">
        <form action="" method="POST">
          {% csrf_token %}
          {{ loginform }}
          <input type="submit" value="Log In" name="submit" class="btn btn-primary" />
        </div>
          <!--
          <table class="table table-condensed pull-right">
            <tr>
              <td>Username</td>
              <td>Password</td>
              <td rowspan=2><button class="btn" type="submit">Sign in</button></td>
            </tr>
            <tr>
              <td><input type="Username" required autofocus></td>
              <td><input type="password" class="form-control" placeholder="Password" required></td>
            </tr>

            <table>
-->

          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}

  {% block content %}



  {% endblock %}