{% extends "base/base.html" %} {% load staticfiles %} {% block title %} {{ FEST_NAME }} {% endblock %} {% block content %}
<div class="row-fluid" id="banner" style="">
    <div class="span12" id="banner_wrapper">

        <div class="span12" id="banner_pic">
            <div id="banner_profile">
                <a href="">
                    <img src="{% static 'img/temp/profile_big.jpg' %}" />
                </a>
            </div>

        </div>
        <div class="span12" id="banner_bar">
            <div class="banner_item"><a href="" class="banner_link active">Timeline</a><i class="selection_caret"></i>
            </div>
            <div class="banner_item"><a href="" class="banner_link">About</a><i class="selection_caret"></i>
            </div>
            <div class="banner_item"><a href="" class="banner_link">Media</a><i class="selection_caret"></i>
            </div>
            <div class="banner_item"><a href="" class="banner_link">Portal</a><i class="selection_caret"></i>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row-fluid" style="">
    <div class="span12" id="status_media">
        <div class="menu_item">
            <i class="icon-search"></i>
            <a class="menu_link active" href="">Comment on the wall</a>
            <i class="selection_caret"></i>
        </div>
        <div class="menu_item">
            <i class="icon-search"></i>
            <a href="" class="menu_link">Upload a file</a>
            <i class="selection_caret"></i>
        </div>
    </div>
    <div id="status_wrapper" class="span12">
        <div id="status_box">
            <div id="status_text" class="span12">
                <textarea class="span12 status_textarea" name="" id="id_status" cols="30" rows="1" placeholder="Post your message here"></textarea>
            </div>
            <div id="status_bottom_bar" class="span12">
                <a class="btn primary small status_submit" href=""> Post
                </a>
            </div>
        </div>
    </div>
    <div class="news_post span12">
        <hr />
        <div class="news_left">
            <img src="{% static 'img/temp/profile.jpg' %}" alt="" class="news_profile">
        </div>
        <div class="news_main">
            <div class="news_head">
                <a class="news_profile_name">Rahul Satish</a> and Solai Natarajan are now friends.
            </div>
            <div class="news_body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, facilis, magnam, eum, qui error culpa iste molestiae aperiam optio harum officia sapiente voluptates rerum. Suscipit, quod, architecto nihil cupiditate aspernatur iure ad vero veritatis consequuntur fugit molestiae temporibus vel voluptate commodi magni esse ea ratione dicta reiciendis laborum atque ut mollitia dolorem perferendis nulla aut est quisquam consectetur eius omnis dolores quidem facere laboriosam laudantium nemo ullam modi perspiciatis voluptas doloremque blanditiis beatae asperiores. Fuga, temporibus, sunt! Reiciendis, voluptate, aperiam, repudiandae dolore eaque ipsa totam eum harum quam alias beatae quisquam laboriosam quae. Recusandae eos illum delectus esse officiis repellat!
            </div>
            <div class="news_extra"></div>
            <div class="news_comment">
                <div class="news_comment_left">
                    <img src="{% static 'img/temp/profile.jpg' %}" alt="" class="news_comment_profile">
                </div>
                <div class="news_comment_body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, necessitatibus, voluptatum, recusandae, incidunt distinctio eveniet fugit nesciunt quas enim excepturi doloribus minus odio laudantium possimus fugiat rem autem ab molestiae omnis accusamus in nobis quis adipisci ut quos illum tenetur laborum perferendis sint et officia commodi cum quae esse quod?
                    <div class="news_comment_info">
                        47 minutes ago
                    </div>
                </div>

            </div>
            <div class="news_comment">
                <div class="news_comment_left">
                    <img src="{% static 'img/temp/profile.jpg' %}" alt="" class="news_comment_profile">
                </div>
                <div class="news_comment_body">
                    <textarea class="span12 status_textarea" name="" id="id_status" cols="30" rows="1" placeholder="Post your comment here"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block extra_css %} {{ block.super }}
<style type="text/css">
#banner {
    background-color: white;
    min-height : 200px;
    max-height: 500px;
}
#banner_profile {
    background: rgba(250, 250, 250, 1);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
    border : 1px solid #aaa;
    height : 150px;
    width: 150px;
    margin : 20px;
    padding : 4px;
}
#banner_profile img {
    height : 150px;
    width: 150px;
}
#banner_pic {
    background: -webkit-linear-gradient(top, white, #ccc);
    min-height : 200px;
    max-height: 500px;
}
#banner_bar {
    height : 40px;
    border : 1px solid #ddd;
}
#banner_bar .banner_item {
    display : inline-block;
    border-right: 1px solid #ddd;
    width : auto;
    height : 16px;
    line-height: 16px;
    font-size : 14px;
    font-weight : bold;
    padding : 10px 30px;
    margin : 0px;
    vertical-align: middle;
}
#banner_bar .banner_item.active .banner_link, #banner_bar .banner_item .banner_link.active {
    color : black;
    text-decoration : none;
}
#banner_bar .banner_item.active .banner_link + .selection_caret, #banner_bar .banner_item .banner_link.active + .selection_caret {
    visibility : visible;
}
#banner_bar .banner_item > .selection_caret {
    position : relative;
    margin : auto;
    top : 7px;
    visibility : hidden;
}
#status_wrapper {
    border: 1px solid #B4BBCD;
    ;
}
#status_text .status_textarea#id_status {
    outline : 0px;
    border: 0px;
    font-size : 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 1px;
    height : 30px;
}
#status_text .status_textarea#id_status {
    color : #AAA;
}
#status_bottom_bar {
    background-color: #F2F2F2;
    border-top: 1px solid #E6E6E6;
    height : 30px;
    padding : 0px;
    margin : 0px 0px;
    min-height : 0px;
    display : none;
}
#status_bottom_bar .btn {
    margin-top : 2px;
    float : right;
    margin-right : 10px;
    font-size : 13px;
}
#status_bottom_bar .bottom_bar_icon {
    height : 30px;
    min-height : 0px;
}
#status_media div {
    display : inline-block;
    margin-left : 10px;
}
#status_media a {
    color: #3B5998;
    font-weight : bold;
}
#status_media a.active {
    color : black;
}
.selection_caret {
    background-image: url({% static 'img/fb_icons_4.png' %});
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -267px -239px;
    display: block;
    height: 6px;
    width: 9px;
}
#status_media .selection_caret {
    left: 4px;
    position: relative;
    top: 10px;
    visibility : hidden;
}
#status_media .menu_item .menu_link.active + .selection_caret, #status_media .menu_item.active .menu_link + .selection_caret {
    visibility : visible;
}
div.news_post {
}
div.news_post hr {
}
.news_left img.news_profile, .news_left {
    float:left;
    width : 50px;
    height : 50px;
    vertical-align: text-top;
}
.news_main {
    font-size : 14px;
    width : auto;
    line-height : 18px;
    margin-left : 60px;
}
.news_main .news_head {
    margin-bottom : 5px;
}
.news_main .news_profile_name {
    font-weight : bold;
}
.news_comment {
    margin-top : 2px;
    background-color: #EEE;
    padding : 5px;
    display : block;
}
.news_comment .news_comment_left, .news_comment .news_comment_left .news_comment_profile {
    height : 32px;
    width : 32px;
    float : left;
}
.news_comment .news_comment_body {
    font-size : 12px;
    line-height : 15px;
    margin-left : 40px;
    min-height : 32px;
}
.news_comment .news_comment_body .news_comment_info {
    font-size : 11px;
    line-height : 13px;
    color : #666;
    margin-top : 5px;
}
</style>
{% endblock %} {% block extra_js %} {{ block.super }}
<script type="text/javascript">
$("#id_status").focusin(function() {
    $("#status_wrapper #id_status").height(50);
    $("#status_wrapper #status_bottom_bar").show();
})
$("#id_status").focusout(function() {
    $("#status_wrapper #id_status").height(20);
    $("#status_wrapper #status_bottom_bar").hide();
})
</script>
{% endblock %}
