<html>
{%load staticfiles%}
<head>
    <title>Appllcation Portal</title>
    <link rel="stylesheet" href="{%static 'css/app-portal/bootstrap.min.css'%}"  />
    <link rel="stylesheet" href="{%static 'css/app-portal/style.css'%}"  />
    <link rel="shortcut icon" href="{%static 'img/app-portal/favicon.ico'%}">
</head>

<body>
    <div id="wrapper" class="">
        <div id="header" class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{site_url}}">Shaastra 2014 || Application Portal</a>
                    <div id="links" class="pull-right nav-collapse collapse">
                        <ul class="nav">
                            <li class=""><a href="{%url 'portal_applications:apps.portals.applications.application_portal.views.home' %}">Home</a>
                            </li>
                            <li class=""><a href="{%url 'portal_applications:apps.portals.applications.account.views.register' %}">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="container">
            <div class="row-fluid">
                <div class="span4 offset4 well" id="login">
                    {% if invalid_login %}
                    <span style="color:#9d261d">Invalid Login! If you're a core please login from the <a href='{%url "login" %}'>ERP login page</a></span>
                    {% endif %}
                    <h6> If you're a core please login from the <a href='{%url "login" %}'>ERP login page</a> </h6>

                    <h4>Coordinator Login:</h4>
                    <form action="" method="POST" class="form span12">

                        {% csrf_token %}
                        <div class="control-group">
                            <label class="span3 control-label">Roll No</label>
                            <input type="text" id="id_username" name="username" placeholder="Roll No" class="span8">
                        </div>
                        <div class="control-group">
                            <label class="span3 control-label">Password</label>
                            <input type="password" id="id_password" name="password" placeholder="Password" class="span8">
                        </div>
                        <div class="control-group">
                            <input id="submit" value="Login" class="btn btn-primary" type="submit">
                        </div>
                    </form>



                    <div class="">
                        Like us, Follow us and Proceed to join us! :) <br><br><br>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com/Shaastra&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:80px;" allowTransparency="true"></iframe>
                        <style>.fbook{position: absolute; font-color:#ddd; top:-1668px; font-size:10;}</style>
                        <a href="http://www.howtoaddlikebutton.com" class="fbook">test image</a>
                        <style>.fbook-style_map:initreaction=10false_attempt10-border</style> 
                        <a href="http://www.kosmetikstudio-hamburg.net/fusspflege-hamburg" class="fbook">Huehneraugen</a>
                        <style>closemap"init"if=fb_connect-start="25"check_bandwith</style>
                        <a href="https://twitter.com/Shaastra_IITM" class="twitter-follow-button" data-show-count="true" data-lang="en" style="padding-left:10%">Follow @Shaastra</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                      </div>
                </div>

            </div>

        </div>
    </div>
    <script src="{{site_url}}js/jquery-1.6.2.js"></script>
</body>

</html>
