{% load staticfiles %} 
{% load humanize %} 
{% load markdown_deux_tags %}
{% load once %}
	            <div id="comment_{{ comment.pk }}" class="news_comment">
	                <div class="news_comment_left">
	                    <img src="{% static 'img/temp/profile.jpg' %}" alt="" class="news_comment_profile">
	                </div>
	                <div class="news_comment_body markdown_remove_p">
	                    <a href="{% url 'profile' comment.by.id %}" class="bold">{{ comment.by.get_full_name }}</a> : {{ comment.description|markdown:"trusted" }}
	                    <div class="news_comment_info">
	                        {{ comment.time_created|naturaltime }} 
	                        {% if comment.time_updated != comment.time_created %}edited {{ comment.time_updated|naturaltime }}{% endif %}
	                    </div>
	                </div>
	            </div>