{% load staticfiles %} 
{% load humanize %} 
{% load markdown_deux_tags %}
{% load once %}

<div {% if not new_comment %} id="comment_{{ comment.pk }}" {% endif %} class="news_comment {% if new_comment %} create_comment {% endif %}">
    <div class="news_comment_left">
        <img src="" alt="{% if not new_comment %} {{ comment.by.email }} {% else %} {{ user.email }} {% endif %}" class="news_comment_profile gravatar_pic">
    </div>
    <div class="news_comment_body markdown_remove_p">
        {% if new_comment %} 
			<div class="row-fluid">
				<form method="POST">
					<div class="span12">
					    {% csrf_token %}
					    <textarea 
					    	class="comment_textarea atwho_at_config resize_textarea span12"
					    	name="comment" 
					    	rows="1" 
					    	data-postid="{{ post.id }}"
					    	placeholder="Post your comment here. Ctrl+Enter to submit. Markdown like : *italic* **bold** etc are allowed. Examples @ {{SETTINGS.SITE_URL}}markdown"></textarea>
						<div class="span12 comment_links" style="display : none">
							<a href="" class=""><i class=""></i></a>

							<a href="javascript:void(0)" class="btn primary post_btn">&nbsp;&nbsp;&nbsp;&nbsp;Post&nbsp;&nbsp;&nbsp;&nbsp;</a>
						</div>
					</div>
				</form>
			</div>
        {% else %}
	        <a href="{% url 'profile' comment.by.id %}" class="bold">{{ comment.by.get_full_name }}</a> : {{ comment.description|markdown:"default" }}
	        <div class="news_comment_info">
	            {{ comment.time_created|naturaltime }} 
	            {% if comment.time_updated != comment.time_created %}edited {{ comment.time_updated|naturaltime }}{% endif %}
	        </div>
       	{% endif %}
    </div>
</div>


{% once comment_styles_and_scripts %}
<style>
	.news_comment {
	    margin-top : 2px;
	    background-color: #EEE;
	    padding : 5px;
	    display : block;
	}
	.news_comment .news_comment_left, .news_comment_profile  
	.news_comment .news_comment_left ,.news_comment .news_comment_left .news_comment_profile {
	    height : 32px;
	    width : 32px;
	    float : left;
	}
	.news_comment .news_comment_body {
	    font-size : 12px;
	    line-height : 15px;
	    margin-left : 40px;
	    min-height : 0px;
	    padding-right : 10px;
	}
	.news_comment .news_comment_body form {
		margin : 0px;
	}
	.news_comment .news_comment_body .news_comment_info {
	    font-size : 11px;
	    line-height : 13px;
	    color : #666;
	    margin-top : 5px;
	}
	.news_comment {

	}
	.resize_textarea {
		-webkit-transition: height 0.2s;
		-moz-transition: height 0.2s;
		transition: height 0.2s;
	}
	.comment_textarea {
		
	}
	.btn.post_btn {
		float: right;
		padding: 3px 5px;
		font-size: 13px;
		float : right;	
	}
</style>

<script>
	function dajax_create_comment(data) {
        $("#post_" + data.post_id + " .news_comment_placeholder").before(data.append_string);
        $("#post_" + data.post_id + " .comment_textarea").removeData("clicked")
        on_dom_change()
	}
	
	$( document ).ready(function() {
		
		$(".post_btn").click(function() {
			$el = $(this).closest("form").find(".comment_textarea")
			if ( $el.data("clicked") ) {
				return
			}
			
        	Dajaxice.apps.walls.create_comment(dajax_create_comment, {
        		'post_id' : $el.data("postid"), 
        		'comment_form': $el.closest("form").serialize(true)
        	});
        	$el.data("clicked", "yes")
                
		})

		$(".comment_textarea")
		.keydown(function(e) {
			e = e || event;
        	el = this; $el = $(this)
        	if (e.ctrlKey && e.keyCode == 13) { // Ctrl+Enter
            	e.preventDefault() // to avoid auto submit of forms
            }
		})
		.keyup(function (e) {
        	e = e || event;
        	el = this; $el = $(this)
            if (e.ctrlKey && e.keyCode == 13) { // Ctrl+Enter
            	$(this).closest("form").find(".post_btn").click()
            	e.preventDefault()
            } 
        })
        .focus( function() {
        	$(this).siblings(".comment_links").show()
        })
	});
</script>
{% endonce %}