{% load staticfiles %} 
{% load humanize %}
{% load markdown_tags %}
{% load once %}

<div class="notif {% if notification.unread %}unread{% endif %}" 
    data-actor="{{ notification.actor.id }}" 
    data-recipient="{{ notification.recipient.id }}"
    data-action-object="{{ notification.action_object.id }}" 
    data-target="{{ notification.target.id }}" 
    data-wall="{{ notification.target.wall.id }}"
    id="notif_{{ notification.id }}">
    <a href="{% url 'read_notification' notification.id %}" class="link_no_style" data-val="{{ notification.id }}">
    	<div class="profile_pic">
	        <img class='profile_dp display_pic ' src="" alt='{{ notification.actor.email }}' data-id='{{ notification.actor.id }}' data-fbid='{{ notification.actor.profile.id }}' />
	    </div>
	    <div class="notif_body">
	    	<span class="profile_name">{{ notification.actor.get_full_name|default:"" }} </span>
	        {{ notification.verb|default:"" }} <span class="bold">{{ notification.target.wall|default:"" }}</span> 
	        <br />
	        {% autoescape off %} 
	        {% endautoescape %}
	    </div>
	    <div class="notif_foot">
	        {%comment%}{{ notification.timestamp|naturaltime }}{%endcomment%}
	        {{ notification.timestamp }}
	        <span class='if_unread'>
	        	· 
	        </span>
	        <a href="javascript:void(0)" class="if_unread mark_notifs_read_pending" data-val="{{ notification.id }}">Mark Read</a>
	        
	    </div>
	</a>
</div>
