{% load staticfiles %} 
{% load humanize %} 
{% load markdown_deux_tags %}
{% load once %}

{# Remember : "post" and "notification" are keywords used here #}

<div id="post_{{ post.id }}" class="row-fluid" style="">
	{% if forloop.counter0 %} <hr /> 
	{% endif %}
	<!-- <div class="" style="height : 30px;"></div> -->
	<!-- <hr /> -->
	<div class="news_post span12">
	    <div class="news_left">
	        <img src="{% static 'img/temp/profile.jpg' %}" alt="" class="news_profile">
	    </div>
	    <div class="news_main">
	        <div class="news_head">
	        	{% if not notification %}
	        		<i class="icon-chevron-down pull-right news_post_settings" style="display : none;"></i>
	            	<a class="news_profile_name" href="{% url 'profile' post.by.id %}">{{ post.by.get_full_name }}</a> 
	            	posted on <a href="{% url 'wall' post.wall.id %}">{{ post.wall }}</a>'s wall. 
	            	<span class="muted small">{{ post.time_created|naturaltime }}</span>
	            {% elif notification %}
	            	<a class="news_profile_name" href="{% url 'profile' post.by.id %}">{{ notification.actor.get_full_name|default:"" }}</a> 
	            	{{notification.verb}} <a href="{% url 'wall' post.wall.id %}">{{ post.wall }}</a>.
	            	<span class="muted small">{{ notification.timestamp|naturaltime }}</span>
	            {% endif %}
	        </div>
	        <div class="news_body">
                
	            {{ post.description|markdown:"trusted" }}
            </div>
	        <div class="news_extra"></div>
	        <div class="news_comment_wrapper">
	        	<div class="news_comment_aggregator center" style="display:none;">
	        		See more
	        	</div>
	        	{% for comment in post.comments.all %}
	            <div id="comment_{{ comment.pk }}" class="news_comment">
	                <div class="news_comment_left">
	                    <img src="{% static 'img/temp/profile.jpg' %}" alt="" class="news_comment_profile">
	                </div>
	                <div class="news_comment_body markdown_remove_p">
	                    <a href="{% url 'profile' comment.by.id %}" class="bold">{{ comment.by.get_full_name }}</a> {{ comment.description|markdown:"trusted" }}
	                    <div class="news_comment_info">
	                        {{ comment.time_created|naturaltime }} 
	                        {% if comment.time_updated != comment.time_created %}edited {{ comment.time_updated|naturaltime }}{% endif %}
	                    </div>
	                </div>
	            </div>
	        	{% endfor %}
	    	</div>
	        <div id="new_comment_placeholder"></div>
	        <div class="news_comment">
	            <div class="news_comment_left">
	                <img src="{% static 'img/temp/profile.jpg' %}" alt="" class="news_comment_profile">
	            </div>
	            <div class="news_comment_body">
	                <form action="{% url 'create_comment' post.pk %}" method="POST">
	                    {% csrf_token %}
	                    <textarea class="span12 comment_textarea atwho_at_config resize_textarea" name="comment" cols="30" rows="1" id="id_new_comment_{{ post.id }}" placeholder="Post your comment here. Ctrl+Enter for next line. Markdown like : *italic* **bold** etc are allowed. Examples @ {{SETTINGS.SITE_URL}}markdown"></textarea>
	                    
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
</div>
{% once post_styles_and_scripts %}
<style>
div.news_post {
	transition-property: background;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}
div.news_post hr {
}
.news_left img.news_profile, .news_left {
    float:left;
    width : 50px;
    height : 50px;
    vertical-align: text-top;
}
.news_main {
    font-size : 14px;
    width : auto;
    line-height : 18px;
    margin-left : 60px;
}
.news_main .news_head {
    margin-bottom : 5px;
}
.news_main .news_profile_name {
    font-weight : bold;
}
.news_comment {
    margin-top : 2px;
    background-color: #EEE;
    padding : 5px;
    display : block;
}
.news_comment .news_comment_left, 
.news_comment .news_comment_left .news_comment_profile {
    height : 32px;
    width : 32px;
    float : left;
}
.news_comment .news_comment_body {
    font-size : 12px;
    line-height : 15px;
    margin-left : 40px;
    min-height : 35px;
}
.markdown_remove_p > p {
    display : inline;
}
.news_comment .news_comment_body .news_comment_info {
    font-size : 11px;
    line-height : 13px;
    color : #666;
    margin-top : 5px;
}

 /*comments aggregation*/
.news_comment_aggregator>.news_comment{
	display: none;
}
.news_comment_aggregator {
    font-size : 11px;
    margin-top : 2px;
    padding : 3px;
    line-height : 13px;
    font-weight : bold;
    background-color: #EEE;
    display : block;
    color : #3B5998;
    cursor : pointer;
}
.news_comment_aggregator:hover {
	color : #333;
	text-decoration : underline;
}
</style>

<script type="text/javascript">

	function append_new_comment(data){
        $("#id_new_comment_{{ post.id }}").val("").blur();
        $("#new_comment_placeholder").before(data.append_string);
	}

    $( document ).ready(function() {            
        $(".news_post").mouseover( function() {
            $(this).find(".news_post_settings").show()
        })
        $(".news_post").mouseout( function() {
            $(this).find(".news_post_settings").hide()
        })

		$(".news_post .comment_textarea")
			.keydown(function(e) {
				e = e || event;
	        	el = this; $el = $(this)
	        	if (e.ctrlKey && e.keyCode == 13) { // Ctrl+Enter
	            	e.preventDefault() // to avoid auto submit of forms
	            }
			})
			.keyup(function (e) {
	        	e = e || event;
	        	el = this; $el = $(this)
	            if (e.ctrlKey && e.keyCode == 13) { // Enter
	            	Dajaxice.apps.walls.create_comment(append_new_comment, {'post_id':{{post.id}}, 'comment_form': $el.parent().serialize(true)});
	                e.preventDefault()
	            } 
	        })


	        // Comments aggregation
	        $(".news_comment_wrapper").each(function(index){
	        	var number_of_comments = $(this).children().length;
	        	if( number_of_comments > 4){
	        		$(this).children().slice(0,-2).appendTo($(this).children(".news_comment_aggregator"));
					$(this).children(".news_comment_aggregator").show();
	        	}
	        });

	        $(".news_comment_aggregator").click(function(){
	        	$el = $(this)
	        	$el.children(".news_comment").slice(-5).insertAfter($el);
	        	if( $el.children().length == 1 )
	        		$el.hide();
	        });
    })
</script>
{% endonce %}