{% load staticfiles %} 
{% load humanize %} 
{% load markdown_deux_tags %}
{% load once %}

{# Remember : "post" and "notification" are keywords used here #}

<div id="post_{{ post.id }}" data-id="{{ post.id }}" class="row-fluid post_container" style="">
	{% if forloop.counter0 %} <hr /> 
	{% endif %}
	<div class="news_post span12">
	    <div class="news_left">
	        {% if not notification %}
	        	<img src="{% static 'img/temp/profile.jpg' %}" alt="{{ post.by.email }}" class="news_profile gravatar_pic">
	        {% elif notification %}
				<img src="{% static 'img/temp/profile.jpg' %}" alt="{{ notification.actor.email }}" class="news_profile gravatar_pic">
	        {% endif %}
	    </div>
	    <div class="news_main">
	        <div class="news_head">
	        	{% if not notification %}
	        		<i class="icon-chevron-down pull-right news_post_settings" style="display : none;"></i>
	            	<a class="news_profile_name" href="{% url 'profile' post.by.id %}">{{ post.by.get_full_name }}</a> 
	            	posted on <a href="{% url 'wall' post.wall.id %}">{{ post.wall }}</a>'s wall. 
	            	<span class="muted small">{{ post.time_created|naturaltime }}</span>
	            {% elif notification %}
	            	<a class="news_profile_name" href="{% url 'profile' post.by.id %}">{{ notification.actor.get_full_name|default:"" }}</a> 
	            	{{notification.verb}} <a href="{% url 'wall' post.wall.id %}">{{ post.wall }}</a>.
	            	<span class="muted small">{{ notification.timestamp|naturaltime }}</span>
	            {% endif %}
	        </div>
	        <div class="news_body">
                {{ post.description|markdown:"default" }}
            </div>
	        <div class="news_extra"></div>
	        <div class="news_comment_wrapper">
	        	<input class="current_page_comments" type="hidden" name="current_page" value="1" />
	        	
	        	<div class="news_comment see_more_comments center" >
	        		See more
	        	</div>
	        	{% for comment in post.comments.all|dictsortreversed:"time_created"|slice:":5" reversed %}
	            	{% include 'modules/comment.html' %}
	        	{% endfor %}
	        	
	        	<div class="news_comment_placeholder"></div>
	        	
	        	{% with new_comment="true" %}
	        		{% include 'modules/comment.html' %}
	        	{% endwith %} 
	    	</div>
	        
	    </div>
	</div>
</div>

{% once post_styles_and_scripts %}
<style>
	div.news_post {
		transition-property: background;
		transition-duration: 0.5s;
		transition-timing-function: linear;
	}
	div.news_post hr {
	}
	.news_left img.news_profile, .news_left {
	    float:left;
	    width : 50px;
	    height : 50px;
	    vertical-align: text-top;
	}
	.news_main {
	    font-size : 14px;
	    width : auto;
	    line-height : 18px;
	    margin-left : 60px;
	}
	.news_main .news_head {
	    margin-bottom : 5px;
	}
	.news_main .news_profile_name {
	    font-weight : bold;
	}
	.markdown_remove_p > p {
	    display : inline;
	}
	
	.news_comment.see_more_comments > .news_comment{
		display: none;
	}
	.news_comment.see_more_comments {
	    font-size : 11px;
	    margin-top : 2px;
	    padding : 3px;
	    line-height : 13px;
	    font-weight : bold;
	    background-color: #EEE;
	    display : block;
	    color : #3B5998;
	    cursor : pointer;
	}
	.news_comment.see_more_comments:hover {
		color : #333;
		text-decoration : underline;
	}
</style>

<script type="text/javascript">
	function dajax_get_comments(data){
        if (!data.exhausted) { 
        	$value = $("#post_" + data.post_id + " .current_page_comments")
        	$value.val( parseInt($value.val()) + 1 );

        	$("#post_" + data.post_id + " .see_more_comments").after(data.append_string);

        	$("#post_" + data.post_id + " .see_more_comments").removeData("clicked")
        } else {
        	$("#post_" + data.post_id + " .see_more_comments").html('No more to load');
        }
        gravatar($(".gravatar_pic"))
        
	}
    $( document ).ready(function() {
	    $(".news_post").mouseover( function() {
            $(this).find(".news_post_settings").show()
        })
        $(".news_post").mouseout( function() {
            $(this).find(".news_post_settings").hide()
        })

		$(".see_more_comments").click(function(e) {
			e = e || event;
        	el = this; $el = $(this)
        	if ( $el.data("clicked") ) {
				return
			}
			post_id = $el.closest(".post_container").data("id")
			Dajaxice.apps.walls.get_comments(dajax_get_comments, {
                    'page' : parseInt($('#post_' + post_id + ' .current_page_comments').val())+1,
                    'post_id' : post_id,
            })
            $el.data("clicked", "yes")
		})
	})
</script>
{% endonce %}