<!DOCTYPE html>

{% load url from future %}
{% load staticfiles %}
{% load humanize %}

<html lang="en">
<head> 
    <style type="text/css">
    @page {
        size: a4 landscape;
        font-family: sans-serif;
        background-image: url("{% static 'img/certif.jpg' %}");
    }
    .page-break{
        page-break-after: always;
    }
    p {
    font-family: "Times New Roman", Times, serif;
	font-size:30px;
	padding-top:400px;
	text-align: center;
	}

    </style>
</head>
<body>
{% for winner in winners %}
<p>
This certificate is awarded to {% if winner.user.gender == "M" %}Mr.{% else %}Ms.{% endif %} {{winner.user.user.get_full_name}} of<br /> {{winner.user.college_text}} for {{winner.position}} in the event<br />{{winner.event.name}} at Saarang 2015, IIT Madras.
</p>
<pdf:nextpage/>
{% endfor %}
</body>
</html>