@charset "utf-8";
/* CSS Document */

.control-label { padding: 5px 0px;margin-right:10px;}
.container{ width:960px!important;}
#content{ margin-top:10px;font-size:13px;}
#forms input[type="text"],input[type="password"]{ width: 220px;height:30px;float:left;}
#forms select { float:left;}
#forms label{ display:inline;padding: 5px 0px;margin-right:10px;width:120px;float:left; clear:left;}
#forms input[type="checkbox"] { float:left;margin-top:10px!important;}
#forms span.helptext{float:left;clear:left;margin-left:135px;font-size:12px; font-style:italic;color:#333;}
#forms ul.errorlist {height:30px;width:500px;float:right;margin-left:-50px;}
#forms label.recaptcha_input_area_text{float: none;clear: none;display: block;}
#forms #recaptcha_response_field{ float:none;height:auto;}
textarea{height:50px;max-width:100%;min-width:100%;font-size:13px;}
#content label,table,select,input{font-size:13px;}
label.checkboxes{display:inline-block; text-transform:capitalize;}
#content input[type="checkbox"]{margin:0px;}
ul.errorlist{color:#9d261d;font-style:italic} 
#dashboard textarea{ height:200px;}
