Django==1.6.5
MySQL-python==1.2.5
South==0.8.4
Werkzeug==0.9.4
argparse==1.2.1
django-annoying==0.8.0
django-appconf==0.6
django-compressor==1.4
django-dajaxice==0.6
django-htmlmin==0.7.0
django-model-utils==2.0.2
django-notifications-hq==0.6.0
django-post-office==0.7.2
docopt==0.6.1
flup==1.0.2
google-api-python-client==1.2
grip==2.0.0
haystack==0.15
html5lib==0.999
kombu==3.0.15
misaka==1.0.2
oauthlib==0.6.1
path-and-address==0.2.0
python-openid==2.2.5
python-social-auth==0.1.24
requests==2.3.0
requests-oauthlib==0.4.0
six==1.6.1
sqlparse==0.1.11
urllib3==1.8.2
wsgiref==0.1.2
