{%extends 'base/base.html'%}

{%block content%}

<div class='coreportal-container'>
{%for i in subdepts%}
	<div data-id='{{i.dept.id}}' class='span12 card dept-name' style='text-align:center'><h3>{{i.dept.name}}</h3></div>
		<div class='card template span12 subdept-container' data-id='-1' style='display:none'>
			<div class="span12">
			<div class='data-fetch-subdept'><h5 class='subdept-name'></h5><div class='subdept-user-container span5'></div></div>
			</div>
			
			<select class='user-selector for-subdept select_all_list' style='width:200px' multiple>
			</select>
			<button type=submit class='user-selector-btn btn btn-primary for-subdept'>Add User</button>
		</div>
		<div class='page-container card span12 template' style='display:none' data-id='-1'>
			<div class='span12'>
				<div class='data-fetch-page'><h4 class='page-name'></h4><div class='page-user-container span5'></div></div>
			</div>

			<div class='span11'>
				<select name='user-selector-{{j.pk}}' class='user-selector for-page select_all_list' style='width:100%' multiple>
				</select>
			</div>

			<div class='span1'>
				<button type=submit class='user-selector-btn btn btn-primary for-page'>Add User</button>
			</div>
		</div>
		<div class='subdepts-container'>
		{%for j in i.subdepts%}
		<!--<div class='subdept-card span12 subdept-container' data-id='{{j.id}}'>
			<div class='data-fetch-subdept' ><h5>{{j.name}}</h5><div class='subdept-user-container' data-id='{{j.id}}'></div></div>
			<select name='user-selector-{{j.pk}}' class='user-selector for-subdept select2 select_all_list' style='width:200px' multiple>
			</select>
			<button type=submit class='user-selector-btn btn btn-primary for-subdept'>Add User</button>
		</div>-->
		<div class='subdept-placeholder' data-id='{{j.id}}' data-name='{{j.name}}'></div>
		{%endfor%}
		</div>
		<div class='card span12'>
			<div class='span11' style='padding-right:20px'>
				<input type=text class='add-subdept-name'>
			</div>
			<div class='span1'>
				<button class='add-subdept-btn btn btn-primary'>Add</button>
			</div>
		</div>

	{%endfor%}
	<div class='span12 card' style='text-align:center'>
		<h3>Pages</h3> 
	</div>
	<div class='pages-container'>
	{%for i in pages%}
	<!--
	<div class='page-container'>
		<div class='page-card span12'>
			<div class='data-fetch-page' data-id='{{i.id}}'><h4>{{i.name}}</h4><div class='page-user-container' data-id='{{i.id}}'></div></div>
			<div class='span11'>
				<select name='user-selector-{{j.pk}}' class='user-selector for-page select2 select_all_list' style='width:100%' multiple>
				</select>
			</div>
			<div class='span1'>
				<button type=submit class='user-selector-btn btn btn-primary for-page'>Add User</button>
			</div>
		</div>
	</div>-->
	<div class='page-placeholder' data-id='{{i.id}}' data-name='{{i.name}}'></div>
	{%endfor%}
	</div>

	<div class='card span12'>
		<div class='span11' style='padding-right:20px'>
			<input type=text class='add-page-name'>
		</div>
		<div class='span1'>
			<button class='add-page-btn btn btn-primary'>Add</button>
		</div>
	</div>
</div>
{%endblock%}
{%block extra_css%}
<style>
	.template{
		display:none;
	}
	.card{
		padding-left: 10px;
		padding-bottom: 5px;
		padding-top: 5px;
		background-color: #EEE;
		border-bottom: #BBB 2px solid;
		border-radius: 8px;
		margin-bottom: 10px;
	}
	
	.add-subdept-name{
		height:17px;
		width:100%;
		margin-right:20px;
	}
	.add-page-name{
		height:17px;
		width:100%;
		margin-right:20px;
	}
	.coreportal-user-pic{
		height:26px;
		width:26px;
	}
	.remove-btn{
		background-color: #FFAAAA;
		padding-left: 4px;
		padding-right: 3px;
		font-weight: bolder;
		font-size: 11px;
		border-radius: 5px;
	}
	.user-display-name{
		padding-left:20px;
		height:20px;
	}
	.user-list-item:hover{
		background-color: #BBB;
	}
</style>
{%endblock%}
{%block extra_js%}
<script type='text/javascript'>

	function bindUserAdd(){
		$('.user-selector-btn.for-subdept').click(function(e){
			$el = $(this)
			console.log($el.parent().find('select.user-selector').val());
			Dajaxice.apps.portals.coreportal.add_users_to_subdept(function(res){
				$el.parents('.subdept-container').find('.subdept-user-container').append(res.append_string);
				$('.display_pic').get_dp();
				bindUserRemove('subdept');
			},{'user_ids':$el.parents('.subdept-container').find('select.user-selector').val(),'subdept_id':$el.parents('.subdept-container').data('id')});
			e.stopPropagation();
		});

		$('.user-selector-btn.for-page').click(function(e){
			$el = $(this)
			console.log($el.parent().find('select.user-selector').val());
			Dajaxice.apps.portals.coreportal.add_users_to_page(function(res){
				$el.parents('.page-container').find('.page-user-container').append(res.append_string);
				$('.display_pic').get_dp();
				bindUserRemove('page');
			},{'user_ids':$el.parents('.page-container').find('select.user-selector').val(),'page_id':$el.parents('.page-container').data('id')});
			e.stopPropagation();
		});
	}
	
	function bindUserRemove(link){
		$('.user-remove[data-link='+link+']').click(function(e){
					$el = $(this);
					var id = $el.data('id');
					var l_id = $el.parents('.'+link+'-container').data('id');

					var F;
					if(link == 'page')
						F = Dajaxice.apps.portals.coreportal.delete_user_from_page
					else
						F = Dajaxice.apps.portals.coreportal.delete_user_from_subdept

					var params = {'user_id':id};
					params[link+'_id'] = l_id;
					F(function(res){
						console.log(res);
						$('.user-list-item[data-link='+link+'][data-link-id='+l_id+'][data-id='+id+']').remove();
					},params);

					e.stopPropagation();
				});
	}

	function replaceSubdeptPlaceholder(i,e){
			console.log('cloning..');
			$el = $('.subdept-container.template').clone();
			console.log($(e).data('id'));
			$el.removeClass('template').css('display','block');;
			$el.attr('data-id',$(e).data('id'));
			$el.find('.subdept-name').html($(e).data('name'));
			$el.find('.user-selector').addClass('select2-pending');
			$('.subdepts-container').append($el);
			$('.select2-pending').select2();
			$('.select2-pending').removeClass('select2-pending').addClass('select2');

			$(e).remove();
	}
	function replacePagePlaceholder(i,e){
			console.log('cloning..');
			$el = $('.page-container.template').clone();
			console.log($(e).data('id'));
			$el.removeClass('template').css('display','block');;
			$el.attr('data-id',$(e).data('id'));
			$el.find('.page-name').html($(e).data('name'));
			$el.find('.user-selector').addClass('select2-pending');
			$('.pages-container').append($el);
			$('.select2-pending').select2();
			$('.select2-pending').removeClass('select2-pending').addClass('select2');
			$(e).remove();
	}


	$(document).ready(function(){
		console.log('BLAH!!');


		$('.add-page-btn').click(function(e){
			Dajaxice.apps.portals.coreportal.create_page(function(res){
				$el = $('<div class=\'page-placeholder\' data-id="'+res.id+'" data-name="'+res.name+'"></div>');
				$('.pages-container').append($el);
				$('.page-placeholder').each(replacePagePlaceholder);
				bindUserAdd();
			},{'page_name':$('.add-page-name').val()});
			e.stopPropagation();
		});

		$('.add-subdept-btn').click(function(){
			Dajaxice.apps.portals.coreportal.create_subdept(function(res){
				$el = $('<div class=\'subdept-placeholder\' data-id="'+res.id+'" data-name="'+res.name+'"></div>');
				$('.subdepts-container').append($el);
				$('.subdept-placeholder').each(replaceSubdeptPlaceholder);
				bindUserAdd();
			},{'page_name':$('.add-subdept-name').val(),'dept_id':$('.dept-name').data('id')});
		});

		$('.subdept-placeholder').each(replaceSubdeptPlaceholder);
		$('.page-placeholder').each(replacePagePlaceholder);

		$('.data-fetch-subdept').each(function(i,e){
				
				console.log('fetching..');
				console.log(e);
				var id = $(e).parents('.subdept-container').data('id');
				console.log(id);
				Dajaxice.apps.portals.coreportal.get_users_of_subdept(function(res){
					console.log(res);
					console.log($('.user-remove[data-link=subdept]'));

					$('.subdept-container[data-id='+id+']').find('.subdept-user-container').append(res.append_string);
					$('.display_pic').get_dp();
					bindUserRemove('subdept');
				},{'subdept_id':id});
			}
			);
		$('.data-fetch-page').each(function(i,e){
			console.log('fetching..');
			console.log(e);
			var id = $(e).parents('.page-container').data('id');
			console.log(id);
			Dajaxice.apps.portals.coreportal.get_users_of_page(function(res){
				console.log(res);
				$('.page-container[data-id='+id+']').find('.page-user-container').append(res.append_string);
				bindUserRemove('page');
				$('.display_pic').get_dp();
			},{'page_id':id});
			});
		
		bindUserAdd();
		//on_dom_change();
		// run ajax functions.
		//Dajax.apps.portals.coreportal.get_user_of_subdept(Dajax.process,sub_dept_id)
	});

</script>
{%endblock%}