<html>
	<head>
	</head>
	<body>
		<div class="col-md-12" style="height:40%;text-align:center;margin:2% 0% 2%;">
			<p style="font-size:60px;color:royalblue">SHAASTRA/SAARANG ERP</p>
		</div>
		<div class="col-md-4 col-md-offset-1" style="text-align:center;" >
			<div style="height:10%;text-align:center;margin:1% 0% 1%;">
			<p style="color:black;font-size:40px;">Link your Username and Barcode</p>
			</div>
			<form action=""role="form" id="registration" method="POST">
				{% csrf_token %}
				<div class="form-group" id="div_username">
    				<label style="color:skyblue"for="username">Username</label>
    				<input type="text" class="form-control" id="username" placeholder="Enter Username" name="username">
  				</div>
  				<div class="form-group"id="div_password">
    				<label style="color:skyblue"for="password1">Password</label>
    					<input type="password" class="form-control" id="password" placeholder="Password" name="password">
  				</div>
  				<div class="form-group"id="div_barcode">
            <label style="color:skyblue" for="barcode">Barcode</label>
            <input type="text" class="form-control" id="barcode" placeholder="Enter Barcode" name="barcode">
          </div>
   				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</body>
</html>