{% extends 'base/base.html' %} {% load staticfiles %} {% block title %} {{ FEST_NAME }} {% endblock %} {% block content %}
<div class="row-fluid">
    <div class="span12">
        <h1>Docs : Use the folders listed on the Right side
        </h1>
    </div>
</div>
<!--
<div class="row-fluid drive_bar">
    <div class="span12">
        <a class="btn drive_back"> <i class="icon-left"></i> 
        </a>
        <a class="btn drive_refresh">
            <i class="icon-refresh"></i>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn primary drive_upload">
            <i class="icon-upload"></i> 
            <span class="text">Upload</span>
        </a>

        <a class="btn primary drive_create" onclick="alert('Not done yet');">
            <i class="icon-plus"></i> 
            <span class="text">Create</span>
        </a>
        <a class="btn primary drive_share" onclick="alert('Not done yet');">
            <i class="icon-share"></i> 
            <span class="text">Share</span>
        </a>
        <a class="btn primary drive_move">
            <i class="icon-folder"></i> 
            <span class="text">Move</span>
        </a>

        &nbsp;
        <div class="pull-right">
            <a class="btn primary drive_delete">
                <i class="icon-trash"></i> 
                <span class="text">Delete</span>
            </a>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span1">
        <div class="progress_val"></div>
    </div>
    <div class="span11">
        <div class="meter animate">
            <span class="progress" style="width: 0%">

            </span>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 drive_messages">
    </div>

</div>
<div class="row-fluid drive_list">
    <div class="span12">
        <table class="zebra-striped table drive_parent" {% if request.GET.id %}data-id="{{request.GET.id}}" {% endif %} cellpadding="0" cellspacing="0">
            <tr class="head">
                <th class="checkbox">
                    <div class="drive_checkbox">
                        <div class="border"></div>
                    </div>
                </th>
                <th class="title ">TITLE</th>
                <th class="last_modified">LAST MODIFIED</th>
            </tr>
            <tr class="drive_file template file_template" style="display : none;" draggable="true">
                <td class="checkbox">
                    <div class="drive_checkbox">
                        <div class="border"></div>
                    </div>
                </td>
                <td class="info">
                    <a href="{%url 'view' %}" target="_blank">
                        <img class="drive_icon" src="" />
                        <span class="title"></span>
                    </a>
                </td>
                <td class="last_modified"></td>
            </tr>
            <tr class="empty_dir" style="display : none; height : 400px">
                <td colspan='3'>
                	<span  class="huge muted">No files. :(</span>
                	<h1 class="muted">Drop files here to upload them</h1>    
                </td>
            </tr>
        </table>
    </div>
</div>

-->
<input id="drive_upload_chooser" type="file" style='display:none'></input>

<!--<div id='sharebox' data-fileid='' style="top:50%; position:absolute; width:100%; text-align:center; display:none; background-color: rgb(59, 89, 152); z-index:3" class="popover">
    <div id="inner" style="margin-top: 20px; margin-bottom: 20px; margin-left: 9px; margin-right: 10px;">
        <h1 style='color:white;font-weight:bolder'>Share File</h1>
        <select id='select0' class="select2 select_all_list" multiple>

        </select>

        <button id="share" class="fa fa-share fa-2x" style='background:none;margin-left:10px' onclick="shareFileMultiple($('#sharebox').attr('data-fileid'),$('#select0').val());"></button>
        <button id="close" class="fa fa-undo fa-2x" style='background:none;margin-left:10px' onclick="$('#sharebox').css('display','none')"></button>
    </div>
</div>
-->
{% endblock %} {% block extra_css %} {{ block.super }}
<style>
table.table.drive_parent {
    /*table-layout: fixed;*/
    /*width : 100%;*/
}
.drive_file .checkbox {
    width : 20px;
}
.drive_file .drive_checkbox {
    width : 16px;
    height : 16px;
    z-index : 2;
}
.drive_file .drive_checkbox .border {
    width : 10px;
    height : 10px;
    margin : 2px;
    border-radius : 3px;
    border : 1px solid #aaa;
    z-index : 1;
}
.drive_file .drive_icon {
    margin : 2px;
    display : inline-block;
    float : left;
}
.drive_file .info .title {
    line-height : 20px;
    height : 100%;
    display : inline-block;
}
.drive_file td {
    overflow : hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin : 0px;
}
.ondrag {
    border : 3px dashed #888;
}
.drive_file .drive_checkbox:hover .border {
    border : 1px solid #000;
}
tr.drive_file.select {
    border-left : 3px solid transparent;
}
.zebra-striped tbody tr.drive_file.select:hover td, .zebra-striped tbody tr.drive_file.select:hover th, .zebra-striped tbody tr.drive_file.select td, .zebra-striped tbody tr.drive_file.select th, tr.drive_file.select, tr.drive_file.select:hover {
    background-color : rgb(255, 255, 204);
}
tr.drive_file.select, tr.drive_file.select:hover {
    border-left : 3px solid rgb(50, 50, 255);
}
/* ------------- PROGRESS BAR ------------- */
 .meter {
    height: 15px;
    /* Can be anything */
    position: relative;
    background: #fff;
    border : 1px solid blue;
    margin : 5px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 2px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow : inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    box-shadow : inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
    line-height : 15px;
    font-size : 10px;
    font-weight : bold;
    color : white;
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #3b5998;
    background-image: -moz-linear-gradient(top, #3d390a, #3b5998);
    background-image: -webkit-linear-gradient(#3d390a, #3b5998);
    -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}
.meter > span:after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
.meter.animate > span:after {
    -webkit-animation: move 2s linear infinite;
}
@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}
.progress_val {
    font-weight : bold;
    line-height : 25px;
    font-size : 11px;
    padding: 2px;
            transition: width 0.5s;
         -o-transition: width 0.5s;
        -ms-transition: width 0.5s;
       -mox-transition: width 0.5s;
    -webkit-transition: width 0.5s;
}
</style>
{% endblock %} {% block extra_js %} {{ block.super }}
<script type="text/javascript">
var developerKey = '{{ SETTINGS.GOOGLE_API_PUBLIC_KEY }}';
var rootFolder = '{{ SETTINGS.GOOGLE_DRIVE_ROOT_FOLDER_ID }}';
var authToken = '{{ google_access_token }}';
var fest_name = '{{FEST_NAME}}'

drive = null;

function setup_file_events(el) {
    var $el = $(el)
    //Select file
    $el.click ( function () {
        var $el = $(this)
        if ( $el.hasClass("select") ) {
            $el.removeClass("select")
            $el.find(".drive_checkbox").removeClass("icon-tick")
        }
        else {
            $el.addClass("select")
            $el.find(".drive_checkbox").addClass("icon-tick")
        }
    })
    // Move file around
    $el.bind("dragstart", function(e) {
        var $el = $(this)
        e = e.originalEvent
        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.dropEffect = 'move';
        e.dataTransfer.setData("Text", $el.data("id"))
    }) 
}
function drive_callback() {
    drive = new Drive({
        "authToken": authToken,
        "developerKey": developerKey,
        "rootFolder": rootFolder,
        "fileAddCallback": setup_file_events,
        "fest_name": fest_name,
    })
    init_button_bar()
}

function init_button_bar() {
    $(".drive_back").click(function(e) {
        $(this).prop("disabled", true).addClass("disabled")
        drive.show_parent($(".drive_parent").data("id"))
    })
    $(".drive_refresh").click(function(e) {
        $(this).prop("disabled", true).addClass("disabled")
        drive.get_dir_contents($(".drive_parent").data("id"))
    })

    $(".drive_upload").click(function(e) {
        $("#drive_upload_chooser").click()
    });
    $(".drive_move").click(function(e) {
        if ($(".drive_parent .drive_file.select").length == 0)
            return
        gapi.load('picker', {
            'callback': move_picker
        });
    });

    $(".drive_delete").click(function(e) {
        if ($(".drive_parent .drive_file.select").length == 0)
            return
        $(this).prop("disabled", true).addClass("disabled")
        drive.delete_files(
            $.map($(".drive_parent .drive_file.select"), function(val, i) {
                return {
                    "id": $(val).data("id")
                }
            }), function() {
                $(".drive_delete").prop("disabled", false).removeClass("disabled")
                drive.get_dir_contents()
            }
        )
    })
    $('#drive_upload_chooser').change(upload_file);

    // Upload drag n drop - from my comp
    var $holder = $('.drive_parent').add(".drive_back")

    /*if (typeof window.FileReader === 'undefined') {
        $(".drive_messages").append("Ouch, no drag and drop feature :(");
    } else {
        $(".drive_messages").append("Drag and Drop files to upload to this folder !");
    }*/

    $holder.bind("dragenter dragover", function(e) {
        e = e.originalEvent
        var $target = $(e.target)
        f = $target
        var $drive_file = $target.closest(".drive_file")
        var $drive_back = $target.closest(".drive_back")

        if ( $drive_file.length && $drive_file.data("folder") != "yes" ) {
            $drive_file = $(".drive_parent")
        } else if ( $drive_back.length ) {
            $drive_file = $drive_back    
        }
        $drive_file.addClass("ondrag")
        return false;
    });
    $holder.bind("dragleave dragout", function(e) {
        e = e.originalEvent
        var $target = $(e.target)
        var $drive_file = $(".ondrag")
        $drive_file.removeClass("ondrag")
        
        return false;
    });
    $holder.bind("drop", function(e) {
        e.preventDefault();
        //e.stopPropagation();
        //e.originalEvent.preventDefault();
        //e.originalEvent.stopPropagation();
        e = e.originalEvent
        var $drive_file = $(".ondrag")
        $drive_file.removeClass("ondrag")
        
        if ( e.dataTransfer.getData("Text") ) { // move fail
            if ( $drive_file.hasClass("drive_file") || $drive_file.hasClass("drive_back") )
                move_files([ { "id" : e.dataTransfer.getData("Text") } ], { "id" : $drive_file.data("id") })
        } else {
            e.$drag_folder = $drive_file 
            upload_file(e, "drag")
        }
        return false;
    });
    $(".drive_back").bind("dragstart", function(e) {
        var $el = $(this)
        e = e.originalEvent
        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.dropEffect = 'move';
        e.dataTransfer.setData("Text", $el.data("id"))
    }) 

}

function upload_file(e, drag) {
    $(".drive_upload").prop("disabled", true).addClass("disabled").find(".text").text("Uploading...")
    var files_data = "", to_folder = ""
    if ( drag == "drag" ) {
        files_data = e.dataTransfer.files
        to_folder = e.$drag_folder.data("id")
    } else {
        files_data = e.target.files
        to_folder = $(".drive_parent").data("id")
    }
    
    if ( files_data.length > 1) {
        alert("Only 1 file at a time !")
        return
    }
    drive.upload_file(files_data[0], to_folder, function() {
        $(".drive_upload").prop("disabled", false).removeClass("disabled").find(".text").text("Upload")
        drive.get_dir_contents()

    })
}

function move_picker() {
    var folderView = new google.picker.DocsView(google.picker.ViewId.FOLDERS)
        .setIncludeFolders(true)
    //.setParent(drive.options.rootFolder)
    .setSelectFolderEnabled(true);
    //.setOwnedByMe(false)

    var picker = new google.picker.PickerBuilder()
        .setOAuthToken(authToken)
        .addView(folderView)
    //.enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
    .enableFeature(google.picker.Feature.NAV_HIDDEN)
        .setCallback(move_picker_done)
        .build();

    picker.setVisible(true);
}

function move_picker_done(data, not_picker) {
    f = data
    if ( not_picker || data.action == google.picker.Action.PICKED) {
        folder = data.docs[0];
        if (folder.mimeType != MIME_TYPES["folder"]) {
            alert("Woah there : You did not select a folder")
            return
        } else {
            move_files($.map(
                $(".drive_parent .drive_file.select"), function(val, i) {
                return {"id" : $(val).data("id")};
            }), folder)
        }
    }
}

function move_files (elems, next_folder) {
	var new_elems = $.map(elems, function(val, i) {
		if ( next_folder.id == $(".drive_parent").data("id") || next_folder.id == val.id ) {
			return null
		}
        return {
            "id": val.id,
            "old_parent_id": $(".drive_parent").data("id"),
            "new_parent_id": next_folder.id,
        }
    })
    if ( new_elems.length )
		drive.move_files(new_elems, function() {
            $(".drive_move").prop("disabled", false).removeClass("disabled")
        })
}
</script>

<script src='{% static "js/drive.js" %}'></script>
<script src='{% static "js/cache.js" %}'>
<script src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=drive_callback"></script>
<script type="text/javascript" src='{% static "js/moment.js" %}'></script>

{% endblock %}
