
{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} {{ FEST_NAME }} {% endblock %}

{% block content %}
    <div class="row-fluid">
    	<div class="span4 animated table table_depts active">
			<div class="head row-fluid">
				<div class="span12">Departments</div>
			</div>
			<div class="template dept_template main_template row-fluid" style="display : none;">
				<div class="span10 info">
					<div class="span12 clickable"><span class="name"></span></div>
					<div class="span12 open center">
						<a href="" class="span4 center wall_link">
							<i class="icon-wall"></i>
						</a>
						<a href="" class="span4 center profile_link">
							<i class="icon-profile-black"></i>
						</a>
						<a href="" class="span4 center docs_link">
							<i class="icon-folder"></i>
						</a>
					</div>
					<div class="span12 open">
						<a href="mailto:" class="email_link"><i class="icon-message"> </i></a>
						 : 
						<input class="email" readonly value="Loading...">
					</div>
					<div class="span12 open">
						<i class="icon-phone"> </i>
						 : 
						<input class="mobile_number" readonly value="Loading...">
					</div>
					<div class="span12 open">
						<i class="icon-home"></i> : <input class="summer_number" readonly value="Loading...">
					</div>
				</div>
				<div class="span2 next clickable">
					<i class="icon-right pull-right opacity_half opacity_full_hover"></i>
				</div>
			</div>
		</div>
    	<div class="span4 animated table table_subdepts">
    		<div class="head row-fluid">
				<div class="span12">Sub Depts</div>
			</div>
			<div class="template subdept_template row-fluid" style="display : none;">
			</div>
    		<div class="head row-fluid">
				<div class="span12">Users</div>
			</div>
			<div class="template user_template row-fluid" style="display : none;">
			</div>
		</div>

    	<div class="span4 animated table table_users">
    		<div class="head row-fluid">
				<div class="span12">Users</div>
			</div>
			<div class="template user_template row-fluid" style="display : none;">
			</div>
		</div>
    </div>
    
{% endblock %}

{% block extra_css %}
{{ block.super }}
<style type='text/css'>
.table .row-fluid {
	border-top: 1px solid #ddd;
}
.table .row-fluid.active,
.table .row-fluid.active > div {
    background-color: #D9D9D9 !important;
}
.table .row-fluid:nth-child(2n) {
	background-color: #EEE;
}
.table .row-fluid .next:hover .opacity_half,
.table .row-fluid.active .opacity_half {
    opacity : 1;
}
.table .head.row-fluid {
	background-color: #aaa;
	color : #fff;
	font-weight : bold;
	border-top: 1px solid #ddd;
}
.table .row-fluid > div {
	overflow : hidden;
   	text-overflow: ellipsis;
  	white-space: nowrap;
    padding : 3px;
    line-height : 24px;
}
.table.animated {
	-webkit-transition : width 1s;
	   -moz-transition : width 1s;
	    -ms-transition : width 1s;
	     -o-transition : width 1s;
			transition : width 1s;
	-webkit-transition : height 0.5s;
	   -moz-transition : height 0.5s;
	    -ms-transition : height 0.5s;
	     -o-transition : height 0.5s;
			transition : height 0.5s;
}
.table .clickable {
	cursor : pointer;
}
.table .next .icon-right {
	-webkit-transition : -webkit-transform 0.5s;
	   -moz-transition : -moz-transform 0.5s;
	    -ms-transition : -ms-transform 0.5s;
	     -o-transition : -o-transform 0.5s;
			transition : transform 0.5s;
}
.table .is_open .next .icon-right {
	        transform : rotate(90deg);
	     -o-transform : rotate(90deg);
	    -ms-transform : rotate(90deg);
	    moz-transform : rotate(90deg);
	-webkit-transform : rotate(90deg);
}
.table .open {
	display : none;
	min-height : 20px;
	line-height : 14px;
	font-size : 12px;
	-webkit-transition : height 1s;
	   -moz-transition : height 1s;
	    -ms-transition : height 1s;
	     -o-transition : height 1s;
			transition : height 1s;
}
.table .is_open .open {
	display : block;
}
.table .open input {
	width : 60%;
}
</style>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script type='text/javascript'>
	user_structure = null

	function set_element_info(el, local_val) {
		var $el = $(el)
		$el.find(".mobile_number").val(local_val["mobile_number"])
		$el.find(".summer_number").val(local_val["summer_number"])
		
		$el.find(".email").val(local_val["email"])
		$el.find("a.email_link").prop("href", "mailto:" + local_val["email"])

		$el.find(".profile_link").prop("href", site_url + "profile/" + val["type"] + "/" + val["id"]).show()
		
	}
	function create_contact_element(i, val, $template) {
		var $el = $(".table .template.main_template").first().clone().removeClass("template")
			.removeClass("dept_template")
			.removeClass("subdept_template")
			.removeClass("user_template")
		$el.data("id", i)
		$el.find(".name")
		name = ''
		if ( val["name"] )
			name = val["name"]
		else if ( val["first_name"] && val["last_name"] )
			name = val["first_name"] + " " + val["last_name"]
		else if ( val["first_name"] || val["last_name"] ) 
			name = val["first_name"] || val["last_name"]

		$el.find(".name").text(name)
		
		val["id"] = i
		if ( val.hasOwnProperty("subdepts") ) { // has to be first. As dept can have users
			val["type"] = "subdept"
		} else if ( val.hasOwnProperty("users")) {
			val["type"] = "dept"
		} else {
			val["type"] = "user"
		}

		if ( val.hasOwnProperty("email") ) {
			if ( val["type"] != "user" ) {
				$el.find(".email").closest("div").remove()
				$el.find(".mobile_number").closest("div").remove()
				$el.find(".summer_number").closest("div").remove()
				$el.find(".profile_link").hide()
			} else {
				set_element_info($el, val)
			}
		} else {
			if ( val.hasOwnProperty("subdepts") || val.hasOwnProperty("users") )  {
				$el.find(".email").closest("div").remove()
				$el.find(".mobile_number").closest("div").remove()
				$el.find(".summer_number").closest("div").remove()
				$el.find(".profile_link").hide()
			} else {
				Dajaxice.apps.users.get_contact( function(data) {
					var local_val = val
					local_val["email"] = data["email"]
					local_val["summer_number"] = data["summer_number"]
					local_val["mobile_number"] = data["mobile_number"]
					set_element_info($el, local_val)
				}, {"id" : i})
			}
		}
		
		$el.find(".wall_link").prop("href", site_url + "wall/" + val["type"] + "/" + val["id"])
		$el.find(".profile_link").prop("href", site_url + "profile/" + val["id"])
		$el.find(".docs_link").prop("href", site_url + "docs/")

		$el.insertBefore($template)
		bind_show_info($el)
		$el.show(750)
		return $el
	}
	function remove_contact_element(i, type) {
		var excludes = ".template, .head"
		if ( i == "all" ) {
			$(".table_subdepts tr, .table_users .row-fluid").not(excludes).remove()
		} else if ( i == "depts" ) {
			$(".table_depts .row-fluid").not(excludes).remove()
		} else if ( i == "subdepts" ) {
			$(".table_subdepts .row-fluid").not(excludes).remove()
		} else if ( i == "users" ) {
			$(".table_users .row-fluid").not(excludes).remove()
		} else {
			var $all_trs = $(".table_depts row-fluid, .table_subdepts row-fluid, .table_users row-fluid").not(excludes)
			$.each($all_trs, function($el) {
				if ( $el.data("id") == i && $el.data("type") == type )
					$el.remove()
			})
		}
	}
	function bind_show_info($elems) {
		if ( ! $elems.length ) {
			$elems = $(".table .row-fluid")
		}
		$elems.bind("click", function() {
			var $el = $(this).closest(".row-fluid")
			
			if ( $el.hasClass("is_open") ) {
				$el.removeClass("is_open")
			} else {
				$el.addClass("is_open")
			}
		})
	}
	function focus_table(type) {
		$(".table_depts, .table_subdepts, .table_users")
						.removeClass("span4")
						.addClass("span4")
		var $el = null
		if ( typeof type == "string" )
			$el = $(".table_" + type)
		else 
			$el = $(type)
		$el.removeClass("span4")
			.addClass("span4")
			
	}
	function show_depts(list, $template) {
		$.each( list, function(i, val) {
			var $el = create_contact_element(i, val, $template)

			$el.data("type", "dept")
		})
	}
	function show_subdepts(list, $template) {
		$.each( list, function(i, val) {
			var $el = create_contact_element(i, val, $template)
			$el.data("type", "subdept")
			$el.find(".clickable").click(function() {
				var $el = $(this)
				
				focus_table("users")
				$(".table_subdepts .row-fluid").removeClass("active")
				$el.addClass("active")
				remove_contact_element("users")

				$user_el_template = $(".table_users .row-fluid.template.user_template")
				user_structure_subdepts = []
				$.each(user_structure, function(i, val) {
					//user_structure_lvl2.merge(val)
					for ( var attrname in val["subdepts"])
					user_structure_subdepts[attrname] = val["subdepts"][attrname];
				})
				show_users(user_structure_subdepts[$el.closest(".row-fluid").data("id")]["users"], $user_el_template)
			})
		})
	}
	function show_users(list, $template) {
		$.each( list, function(i, val) {
			var $el = create_contact_element(i, val, $template)
			$el.data("type", "user")
		})
	}
	function populate_contacts() {
		$dept_el_template = $(".table_depts .row-fluid.template.dept_template")
		
		show_depts(user_structure, $dept_el_template)

		$(".table_depts .clickable").click(function() {
			var $el = $(this)
			focus_table("subdepts")
			$(".table_depts .row-fluid").removeClass("active")
			$el.addClass("active")
			remove_contact_element("subdepts")

			show_subdepts(user_structure[$el.closest(".row-fluid").data("id")]["subdepts"], $(".table_subdepts .row-fluid.template.subdept_template"))
			
			show_users(user_structure[$el.closest(".row-fluid").data("id")]["users"], $(".table_subdepts .row-fluid.template.user_template"))
			remove_contact_element("users")			
		})
	}
	$(document).ready(function() {
		$.getJSON("{% static 'json/user_structure.json' %}", function(json) {
            user_structure = json;
            populate_contacts()
        });

	})
</script>
{% endblock %}
