
{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} {{ FEST_NAME }} {% endblock %}

{% block content %}
    <div class="row-fluid">
    	<div class="span4 animated table_depts active">
    		<table class="zebra-striped table " cellpadding="0" cellspacing="0">
				<tr class="head">
					<th colspan="2">Departments</th>
				</tr>
				<tr class="template dept_template" style="display : none;">
					<td>
						<span>${name}</span>
						<span><i class="icon-arrow-right pull-right opacity_half opacity_full_hover"></i></span>
					</td>
				</tr>
			</table>
		</div>
    	<div class="span4 animated table_subdepts">
    		<table class="zebra-striped table ">
				<tr class="head">
					<th>Sub Depts</th>
				</tr>
				<tr class="template subdept_template" style="display : none;">
					<td>
						${name} 
						<i class="icon-arrow-right pull-right opacity_half opacity_full_hover"></i>
					</td>
				</tr>
				<tr class="head">
					<th>Users</th>
				</tr>
				<tr class="template user_template" style="display : none;">
					<td>
						${name} 
						<i class="icon-arrow-right pull-right opacity_half opacity_full_hover"></i>
					</td>
				</tr>
			</table>
		</div>

    	<div class="span4 animated table_users">
    		<table class="zebra-striped table ">
				<tr class="head">
					<th>Users</th>
				</tr>
				<tr class="template user_template" style="display : none;">
					<td>
						${name} 
						<i class="icon-arrow-right pull-right opacity_half opacity_full_hover"></i>
					</td>
				</tr>
			</table>
		</div>
    </div>
    
{% endblock %}

{% block extra_css %}
{{ block.super }}
<style type='text/css'>
td {
   	overflow: hidden;
  	white-space: nowrap;
}
.animated {
	-webkit-transition : width 1s;
	-moz-transition : width 1s;
	-o-transition : width 1s;
	-ms-transition : width 1s;
	transition : width 1s;
}
tr:hover .opacity_half,
tr.active .opacity_half {
    opacity : 1;
}
tr.active,
tr.active > td {
    background-color: #D9D9D9 !important;
}
</style>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script type='text/javascript'>
	user_structure = null

	function create_contact_element(i, val, $template) {
		$el = $template.clone().removeClass("template")
			.removeClass("dept_template")
			.removeClass("subdept_template")
			.removeClass("user_template")
		$el.data("id", i)
		$.each($el.find("td"), function() {
			$el_cell = $(this)
			
			name = ''
			if ( val["name"] )
				name = val["name"]
			else if ( val["first_name"] && val["last_name"] )
				name = val["first_name"] + " " + val["last_name"]
			else if ( val["first_name"] || val["last_name"] ) 
				name = val["first_name"] || val["last_name"]

			$el_cell.html(
				$el_cell.html()
					.replace("${name}", name) 
			)
		})
		$el.insertBefore($template)
		$el.show(750)
	}
	function remove_contact_element(i, type) {
		var excludes = ".template, .head"
		if ( i == "all" ) {
			$(".table_subdepts tr, .table_users tr").not(excludes).remove()
		} else if ( i == "depts" ) {
			$(".table_depts tr").not(excludes).remove()
		} else if ( i == "subdepts" ) {
			$(".table_subdepts tr").not(excludes).remove()
		} else if ( i == "users" ) {
			$(".table_users tr").not(excludes).remove()
		} else {
			var $all_trs = $(".table_depts tr, .table_subdepts tr, .table_users tr").not(excludes)
			$.each($all_trs, function($el) {
				if ( $el.data("id") == i && $el.data("type") == type )
					$el.remove()
			})
		}
	}
	function focus_table(type) {
		$(".table_depts, .table_subdepts, .table_users")
						.removeClass("span4")
						.addClass("span4")
		var $el = null
		if ( typeof type == "string" )
			$el = $(".table_" + type)
		else 
			$el = $(type)
		$el.removeClass("span4")
			.addClass("span4")
			
	}
	function show_depts(list, $template) {
		$.each( list, function(i, val) {
			create_contact_element(i, val, $template)

			$el.data("type", "dept")
		})
	}
	function show_subdepts(list, $template) {
		$.each( list, function(i, val) {
			create_contact_element(i, val, $template)
			$el.data("type", "subdept")
			$el.click(function() {
				var $el = $(this)
				
				focus_table("users")
				$(".table_subdepts tr ").removeClass("active")
				$el.addClass("active")
				remove_contact_element("users")

				$user_el_template = $(".table_users tr.template.user_template")
				user_structure_subdepts = []
				$.each(user_structure, function(i, val) {
					//user_structure_lvl2.merge(val)
					for ( var attrname in val["subdepts"])
					user_structure_subdepts[attrname] = val["subdepts"][attrname];
				})
				show_users(user_structure_subdepts[$el.data("id")]["users"], $user_el_template)
			})
		})
	}
	function show_users(list, $template) {
		$.each( list, function(i, val) {
			create_contact_element(i, val, $template)
			$el.data("type", "user")
		})
	}
	function populate_contacts() {
		$dept_el_template = $(".table_depts tr.template.dept_template")
		
		show_depts(user_structure, $dept_el_template)

		$(".table_depts tr").click(function() {
			var $el = $(this)
			focus_table("subdepts")
			$(".table_depts tr").removeClass("active")
			$el.addClass("active")
			remove_contact_element("subdepts")

			show_subdepts(user_structure[$el.data("id")]["subdepts"], $(".table_subdepts tr.template.subdept_template"))
			show_users(user_structure[$el.data("id")]["users"], $(".table_subdepts tr.template.user_template"))
		})

		/*$(".table_depts tr, .table_subdepts tr, .table_users tr").click(function() {
			el = this; $el = $(el);
			focus_table($el.closest(".table_depts, .table_subdepts, .table_users"))
			console.log($el.closest(".table_depts, .table_subdepts, .table_users"))
		})*/

	}
	$(document).ready(function() {
		$.getJSON("{% static 'json/user_structure.json' %}", function(json) {
            user_structure = json;
            populate_contacts()
        });

	})
</script>
{% endblock %}
