
{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} {{ FEST_NAME }} {% endblock %}

{% block content %}
    Docs
    <a class="btn" href="{% url 'get_refresh_token' %}">Get refresh token (one time only)</a>

    <a href="" class="btn">Add a new Folder here</a>
    <a href="" class="btn">Add Folder</a>


    <iframe src="https://drive.google.com/embeddedfolderview?id={{PARENT_FOLDER_ID}}#list" width="800" height="600" frameborder="0"></iframe>

{% endblock %}

{% block extra_css %}
{{ block.super }}
<style type='text/css'>
</style>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script type='text/javascript'>
</script>
{% endblock %}
