

{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} {{ FEST_NAME }} {% endblock %}


{% block content %}
    <h4>Docs</h4>
    <div id='drivebrowse_main' style='display:inline;'>
      
    </div>
    <style>
    .fileview{
        width:100%;
        text-align: center;
        border: 2px gray solid;
        margin-left: 7px;
        padding-right:2px;
        padding-left:2px;
        height:240px;
        border-radius:4px;
    }
    </style>
<script type="text/javascript">
    var developerKey = '{{ api_key }}';
    var rootFolder = '{{SETTINGS.GOOGLE_DRIVE_ROOT_FOLDER_ID}}';
    var authToken = '{{ token }}';

    var allFiles = null;

    var heirarchy=[];
    var MIME_DIRECTORY = 'application/vnd.google-apps.folder'
    // view function.
    function toHTML(file){
      var html = '';
      //alert(JSON.stringify(file));
      

      file_type = ''
      if(file.mimeType)
        file_type = file.mimeType;


      // calculate the file's download url.
      d_url = '#';// initialize the url
      if(file.webContentLink) // for normal files, use webContentLink
        d_url = file.webContentLink;
      else if(file.exportLinks)// for google doc files, use exportLinks
        d_url = file.exportLinks[Object.keys(file.exportLinks)[0]];
      // if none exists the file is a directory. leave it.

      if(file_type != MIME_DIRECTORY)
        html+='<div class="span4 fileview" style="text-align:center;"><img src="'+file.thumbnailLink+'" style="width:100%;height:160px"><div><img src="'+file.iconLink+'"><a href="{%url 'docframe' %}?docurl='+file.id+'">'+file.title+'</a></div><div><button onclick="deleteFile(\''+file.id+'\');">Delete</button></div><div><a href="'+d_url+'">Download</a></div></div>';
      else
        html+='<div class="span4 col-md-3 fileview" style="text-align:center;"><img src="'+file.thumbnailLink+'" style="width:100%;height:160px"><div><img src="'+file.iconLink+'"><a onclick="showDirectoryContents(\''+file.id+'\',true);">'+file.title+'</a></div></div>';
      return html;
    }
    // model preprocessor
    function showAllFiles(files){
          allFiles = files;
          dir_files = getDirectoryContents( allFiles, rootFolder )
          dir_files.forEach(function(item){
            $('#drivebrowse_main').append(toHTML(item));
          });
          currFolder = rootFolder;
    }

    function showDirectoryContents(dir_id,showPrev){
        files = getDirectoryContents(allFiles, dir_id);
          
          $('#drivebrowse_main').html('');
          if(showPrev){
              if(dir_id != rootFolder )
                $('#drivebrowse_main').append('<button onclick="showDirectoryContents(\''+getFileObject(dir_id).parents[0].id+'\',true);">Back</button>')
          }
          files.forEach(function(item){
            $('#drivebrowse_main').append(toHTML(item));
          });
          currFolder = dir_id;
    }

    function getFileObject(fileId){
      for(var i=0;i<allFiles.length;i++){
        if(allFiles[i].id == fileId)
          return allFiles[i];
      }
    }
    function getDirectoryContents( all_files, dir_id ){
        dir_files = []
        all_files.forEach(function(item){
            if(item.parents[0].id == dir_id)
              dir_files.push(item);
          });
        return dir_files;
    }

    function renameFile(fileId, newTitle) {
      var body = {'title': newTitle};
      var request = gapi.client.drive.files.patch({
        'fileId': fileId,
        'resource': body
      });
      request.execute(function(resp) {
        console.log('New Title: ' + resp.title);
      });
    }

    function getFiles(){
      //alert('retreiving files');
      //files_of_interest = []
      gapi.client.drive.files.list().execute(function(response){
          if(response.error){
              if(response.error.code == 401)
                alert('ACCESS TOKEN expired. Please refresh the page. Note that the Token is active only for around 2000 seconds.');
              else
                alert('Unexpected error: '+response.error.code);
          }
          showAllFiles(response.items);
      });
      
    }

    function initDrive() {
          //alert('?');
          gapi.auth.setToken({access_token:authToken,expires_in:2000}); // set the access token obtained from the server. OAuth2 automatically logs us in.
          gapi.client.setApiKey(developerKey);  //set our public api key
          gapi.client.load('drive','v2',getFiles);  // ask gapi to load API details for the drive api.
    }

    function uploadEmptyFile(mimetype,name,dir_id){
          var text = " ";

          var xhr2 = new XMLHttpRequest();
          xhr2.open('POST', 'https://content.googleapis.com/drive/v2/files?key='+developerKey);
          xhr2.setRequestHeader('Authorization', 'Bearer ' + authToken);
          xhr2.setRequestHeader('Content-Type', 'application/json');
          xhr2.onreadystatechange = function(){
              var xhr = new XMLHttpRequest();
              xhr.open('PUT', 'https://www.googleapis.com/upload/drive/v2/files/'+JSON.parse(xhr2.responseText).id+'?uploadType=media');
              xhr.setRequestHeader('Authorization', 'Bearer ' + authToken);
              xhr.setRequestHeader('Content-Type',mimetype);
              xhr.onreadystatechange = function(res){ alert(JSON.stringify(res)); }
              xhr.send(text);
            }
          xhr2.send(JSON.stringify({'title':name,'mimeType':mimetype,'parents':[{'id':dir_id,'kind':'drive#parentReference'}]}));
    }

    function insertFile(fileData, callback) {
      const boundary = '-------314159265358979323846';
      const delimiter = "\r\n--" + boundary + "\r\n";
      const close_delim = "\r\n--" + boundary + "--";

      var reader = new FileReader();
      reader.readAsBinaryString(fileData);
      reader.onload = function(e) {
      var contentType = fileData.type || 'application/octet-stream';
      var metadata = {
        'title': fileData.fileName,
        'mimeType': contentType
      };

      var base64Data = btoa(reader.result);
      var multipartRequestBody =
        delimiter +
        'Content-Type: application/json\r\n\r\n' +
        JSON.stringify(metadata) +
        delimiter +
        'Content-Type: ' + contentType + '\r\n' +
        'Content-Transfer-Encoding: base64\r\n' +
        '\r\n' +
        base64Data +
        close_delim;

      var request = gapi.client.request({
        'path': '/upload/drive/v2/files',
        'method': 'POST',
        'params': {'uploadType': 'multipart'},
        'headers': {
          'Content-Type': 'multipart/mixed; boundary="' + boundary + '"'
        },
        'body': multipartRequestBody});
      if (!callback) {
        callback = function(file) {
          console.log(file)
        };
      }
      request.execute(callback);
    }
  }


    function deleteFile(fileId) {
      var request = gapi.client.drive.files.delete({
        'fileId': fileId
      });
      request.execute(function(resp) { window.location.reload(true); });
    }
    
    function shareFile(fileId,dest_email){
      var body = {
        'value': dest_email,
        'type': 'user',
        'role': 'writer'
      };
      var request = gapi.client.drive.permissions.insert({
        'fileId': fileId,
        'resource': body
        });
      request.execute(function(resp) { window.location.reload(true); });
    }

    function shareFileMultiple(fileId,dest_emails){
      dest_emails.forEach(function(email){
        shareFile(fileId, email);
      });
    }

    // A simple callback implementation.
      /*function pickerCallback(data) {
        console.log(data);
        console.log(picker);
        if (data.action == google.picker.Action.PICKED) {
            fileId = data.docs[0].id;
            //alert('The user selected: ' + fileId);
            window.location = "{% url 'docframe' %}?docurl="+fileId;
        }
      }*/
    // Use the Google API Loader script to load the google.picker script.
      
    </script>
  <script src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=initDrive"></script>
{% endblock %}

{% block extra_css %}
{{ block.super }}
<style type='text/css'>
</style>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script type='text/javascript'>
</script>
{% endblock %}

