{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} {{ FEST_NAME }} {% endblock %}

{% block topbar%}
    <div class='topbar' id='login_topbar' >
        <div class='topbar-inner' id='login_topbar_inner'>
            <div class='container-fluid'>
                <div class='row-fluid' id='login_row'>
                    <div class='span4 offset1'>
                        <a class='brand big_brand bold' href='{{ SITE_URL }}'>{{ FEST_NAME }}</a>
                    </div>
                    <div class='span6' id='login_box'>
                        <form class='span9 pull-right' action='{% url "login" %}' method='POST' id='login_form'  autocomplete="on">
                            {% csrf_token %}
                            <div class='span5 input_box'>
                                <label for='id_username'>Email ID</label><br />
                                <input type='text' name='username' id='id_username' required='true' autofocus class='input-large' value='{{ login_form.username.value|default_if_none:"" }}'><br />
                            </div>
                            <div class='span5 input_box'>
                                <label for='id_password'>Password</label><br />
                                <input type='password' name='password' id='id_password' placeholder='Password' required='true' class='input-large' value='{{ login_form.password.value|default_if_none:"" }}'><br />
                                <a id='forgot_passwd' href='{% url "password_reset" %}'>Forgotten Password</a>
                            </div>
                            <div class='span2 submit_box'>
                                <label for="id_submit"></label><br />
                                <a href='#' id="id_submit" class='btn primary static small'>Log in</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block full_content %}
    <div class='row-fluid below_loginbar'>
        <div class='span6'>
        </div>
        <div class='span6'>
            <span class='big'>Sign Up</span>
            <a class='zocial facebook btn-block' href="{% url 'social:begin' 'facebook' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Sign in with Facebook</a>

            <a class='zocial google btn-block' href="{% url 'social:begin' 'google' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Sign in with Google</a>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
{{ block.super }}
<style>
    .below_loginbar {
        margin-top : 100px;
    }
    #login_topbar_inner {
        height: 82px;
    }
    #login_row {
        padding-top: 10px;
        color : white;
    }
    #login_box { 
        padding-top: 0px;
        font-size : 11px;
    }
    #login_form {
        float : right;
    }
    #login_form .input_box {
        padding : 0px 5px;
    }
    #login_form .submit_box {
        padding : 0px 5px;
    }
    #login_form .submit_box .btn {
        margin : 5px;
        white-space: nowrap;
        font-size : 12px;
    }
    #login_form .input_box input{
        margin-top : 5px;
        margin-bottom : 5px;
        margin-left : 0px;
        margin-right : 5px;
    }
    #login_form a#forgot_passwd {
        color: rgb(152, 169, 202);
        text-decoration :none;
        cursor : pointer;
    }
    #login_form a#forgot_passwd:hover {
        color: white;
        text-decoration :none;
    }
    .topbar .big_brand {
        font-size : 40px;
    }
    
</style>

{% endblock %}


{% block extra_js %}
{{ block.super }}
    <script>
    $( document ).ready(function() {    
        // Form submission 
        function login_form_submit() {
            $('form#login_form').submit();
            console.log($('#login_form'))
        }
        $("#id_submit").click(login_form_submit);
        $('form#login_form input').on('keyup', function(e) {
            if (e.which == 13) {
                login_form_submit();
                e.preventDefault();
            }
        });
        {% for k, v in login_form.errors.items %}
            $("form#login_form #id_{{ k }}").addClass("error")
                                            .popover({
                "title" : function() { return "Error" },
                "content" : function() { return "{% for i in v %} {{i}} {% endfor %}" },
                "placement" : "below",
            })
        {% endfor %}
    });
    </script>
{% endblock %}