{% extends 'base/base.html' %}
{% load markdown_deux_tags %}
{% load staticfiles %}

{% block title %} {{ FEST_NAME }} {% endblock %}

{% block full_content %}
	<div class="row-fluid">
		<div class="span12 ">
			<h1> Markdown usage : <small> A guide on writing stylised posts and comments </small> </h1>
			For a detailed version, visit : <a href="http://daringfireball.net/projects/markdown/syntax">http://daringfireball.net/projects/markdown/syntax</a>
			<br /><br /><br />
			<table class="table zebra-striped bordered-table">
				<thead>
					<tr>
						<th>Style name</th>
						<th>Markdown</th>
						<th>HTML</th>
						<th>Demo</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<td>Italics</td>
						<td>
							*this is in italics*<br />
						</td>
						<td>
							&lt;em&gt; this is in italics &lt;/em&gt;<br />
						</td>
						<td>
							{% markdown 'default' %}
*this is in italics*
							{% endmarkdown %}
						</td>
					</tr>

					<tr>
						<td>Bold</td>
						<td>
							**this is in bold**<br />
						</td>
						<td>
							&lt;strong&gt; this is in bold &lt;/strong&gt;<br />
						</td>
						<td>
							{% markdown 'default' %}
**this is in bold**
							{% endmarkdown %}
						</td>
					</tr>


					<tr>
						<td>Links</td>
						<td>
							[Shaastra Facebook](https://www.facebook.com/Shaastra)<br />
							or<br/>
							&lt;https://www.facebook.com/Shaastra&gt;<br />
							or<br/>
							&lt;webops@shaastra.org&gt;<br />
						</td>
						<td>
							&lt;a href="https://www.facebook.com/Shaastra"&gt;<br />
				 			Shaastra Facebook <br />
				 			&lt;/a&gt;<br />
						</td>
						<td>
							{% markdown 'default' %}
[Shaastra Facebook](https://www.facebook.com/Shaastra)

or

<https://www.facebook.com/Shaastra>

or

<webops@shaastra.org>
							{% endmarkdown %}
						</td>
					</tr>

					<tr>
						<td>Images</td>
						<td>
							![Google Logo](https://www.google.co.in/images/srpr/logo1w.png)<br />
						</td>
						<td>
							&lt;img <br />
							src="https://www.google.co.in/images/srpr/logo1w.png" <br />
							alt="Google Logo"  &gt;<br />
						</td>
						<td>
							{% markdown 'default' %}
![Shaastra Dice](https://www.google.co.in/images/srpr/logo1w.png)
							{% endmarkdown %}
						</td>
					</tr>

					
					<tr>
						<td>Headings</td>
						<td>
							#Heading 1<br />
							##Heading 2<br />
							###Heading 3<br />
							####Heading 4<br />
							#####Heading 5<br />
						</td>
						<td>
							&lt;h1&gt;Heading 1&lt;/h1&gt;<br />
							&lt;h2&gt;Heading 1&lt;/h3&gt;<br />
							&lt;h3&gt;Heading 1&lt;/h3&gt;<br />
							&lt;h4&gt;Heading 1&lt;/h4&gt;<br />
							&lt;h5&gt;Heading 1&lt;/h5&gt;<br />
						</td>
						<td>
							{% markdown 'help_text' %}
#Heading 1
##Heading 2
###Heading 3
####Heading 4
#####Heading 5
							{% endmarkdown %}
						</td>
					</tr>

					<tr>
						<td>Unordered Lists</td>
						<td>
							* List item 1<br />
							* List item 2<br />
							<br />
							or<br/>
							- List item 1<br />
							- List item 2<br />
							<br />
							or<br/>
							+ List item 1<br />
							+ List item 2<br />
						</td>
						<td>
							&lt;ul&gt;<br />
								&lt;li&gt; List item 1&lt;/li&gt;<br />
								&lt;li&gt; List item 2&lt;/li&gt;<br />
							&lt;/ul&gt;
						</td>
						<td>
							{% markdown 'default' %}
* List item 1
* List item 2

or
- List item 1
- List item 2

or
+ List item 1
+ List item 2
							{% endmarkdown %}
						</td>
					</tr>

					<tr>
						<td>Horizontal Line</td>
						<td>
							* * * or<br />
							*** or<br />
							***** or<br />
							- - - or<br />
							---------------------------------------<br />
						</td>
						<td>
							&lt;hr&gt;
						</td>
						<td>
							{% markdown 'default' %}
* * *
							{% endmarkdown %}
						</td>
					</tr>


					<tr>
						<td>Quotes</td>
						<td>
							> This is a quote by Abdeali J Kothari which looks really nice due to the markdown implemented here
						</td>
						<td>
							&lt;blockquote&gt;<br/>
							This is a quote by Abdeali J Kothari which looks really nice due to the markdown implemented here<br />
							&lt;/blockquote&gt;
						</td>
						<td>
							{% markdown 'default' %}
> This is a quote by Abdeali J Kothari which looks really nice due to the markdown implemented here
							{% endmarkdown %}
						</td>
					</tr>

					<tr>
						<td>Code tags</td>
						<td>
							` cprintf("hello world !"); `<br />
						</td>
						<td>
							&lt;pre&gt; cprintf("hello world !"); &lt;/pre&gt;<br />
						</td>
						<td>
							{% markdown 'default' %}
` cprintf("hello world !"); `
							{% endmarkdown %}
						</td>
					</tr>

					

				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block extra_css %}
{{ block.super }}
<style type='text/css'>
</style>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type='text/javascript'>
</script>
{% endblock %}
