{% extends "base/base.html" %} 
{% load staticfiles %} 
{% load humanize %} 

{% block title %} {{ FEST_NAME }} {% endblock %} 

{% block content %}
	{% url 'create_post' user.erp_profile.wall.id as new_post_url %}
	<!-- {# {% include "modules/new_post.html" %} #} -->

	{% for notification in notifications %}
		{% with post=notification.target %}
			{% include "modules/post.html" %}
	    {% endwith %}
	{% endfor %}
	
</div>
{% endblock %} {% block extra_css %} {{ block.super }}
<style type="text/css">
#status_wrapper {
    border: 1px solid #B4BBCD;
    ;
}
#status_text .status_textarea#id_status {
    outline : 0px;
    border: 0px;
    font-size : 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 1px;
    height : 30px;
}
#status_text .status_textarea#id_status {
    color : #AAA;
}
#status_bottom_bar {
    background-color: #F2F2F2;
    border-top: 1px solid #E6E6E6;
    height : 30px;
    padding : 0px;
    margin : 0px 0px;
    min-height : 0px;
    display : none;
}
#status_bottom_bar .btn {
    margin-top : 2px;
    float : right;
    margin-right : 10px;
    font-size : 13px;
}
#status_bottom_bar .bottom_bar_icon {
    height : 30px;
    min-height : 0px;
}
#status_media div {
    display : inline-block;
    margin-left : 10px;
}
#status_media a {
    color: #3B5998;
    font-weight : bold;
}
#status_media a.active {
    color : black;
}
.selection_caret {
    background-image: url({% static 'img/fb_icons_4.png' %});
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -267px -239px;
    display: block;
    height: 6px;
    width: 9px;
}
#status_media .selection_caret {
    left: 4px;
    position: relative;
    top: 10px;
    visibility : hidden;
}
#status_media .menu_item .menu_link.active + .selection_caret,
#status_media .menu_item.active .menu_link + .selection_caret {
    visibility : visible;
}
div.news_post hr {
}
.news_left img.news_profile, .news_left {
    float:left;
    width : 50px;
    height : 50px;
    vertical-align: text-top;
}
.news_main {
    font-size : 14px;
    width : auto;
    line-height : 18px;
    margin-left : 60px;
}
.news_main .news_head {
    margin-bottom : 5px;
}
.news_main .news_profile_name {
    font-weight : bold;
}
.news_comment {
    margin-top : 2px;
    background-color: #EEE;
    padding : 5px;
    display : block;
}
.news_comment .news_comment_left, .news_comment .news_comment_left .news_comment_profile {
    height : 32px;
    width : 32px;
    float : left;
}
.news_comment .news_comment_body {
    font-size : 12px;
    line-height : 15px;
    margin-left : 40px;
    min-height : 32px;
}
.news_comment .news_comment_body .news_comment_info {
    font-size : 11px;
    line-height : 13px;
    color : #666;
    margin-top : 5px;
}
</style>
{% endblock %} {% block extra_js %} {{ block.super }}
<script type="text/javascript">
function show_status_textarea() {
    $("#status_wrapper #id_status").height(50);
    $("#status_wrapper #status_bottom_bar").show();
}
function hide_status_textarea() {
    $("#status_wrapper #id_status").height(20);
       $("#status_wrapper #status_bottom_bar").hide();
}

    $("#status_wrapper *").focusin(show_status_textarea);
    //$("#status_wrapper *").focusout(hide_status_textarea);

    $("#status_wrapper #status_submit").keydown(function (e) {
        if (e.ctrlKey && e.keyCode == 13) { // Ctrl-Enter pressed
        	console.log("Posting");
        } 
        
    });
    $("#status_wrapper #status_submit").click(function() { 
        console.log("Posting");
    });
</script>
{% endblock %}
