
{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} {{ FEST_NAME }} {% endblock %}

{% block content %}
   
    <div id="result"></div>

{% endblock %}

{% block extra_css %}
{{ block.super }}
<style type='text/css'>
</style>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    var developerKey = '{{ SETTINGS.GOOGLE_API_PUBLIC_KEY }}';

    // Use the Google Loader script to load the google.picker script.
    google.setOnLoadCallback(createPicker);
    google.load('picker', '1');

    // Create and render a Picker object for searching images
    // and uploading files.
    function createPicker() {
        // Create a view to search images.
        view = new google.picker.View(google.picker.ViewId.DOCUMENTS)
        // view.setMimeTypes('image/png,image/jpeg');

        // Use DocsUploadView to upload documents to Google Drive.
        uploadView = new google.picker.DocsUploadView();

        picker = new google.picker.PickerBuilder()
            .addView(view)
            .addView(uploadView)
            .setOAuthToken('{{ token }}')
            .setDeveloperKey(developerKey)
            .setCallback(pickerCallback)
            //.hideTitleBar()
            .disableFeature(google.picker.Feature.NAV_HIDDEN)
            .build();
        picker.setVisible(true);
    }

    // A simple callback implementation.
    function pickerCallback(data) {
        console.log(data)
        console.log(picker)
        if (data.action == google.picker.Action.PICKED) {
            fileId = data.docs[0].id;
            alert('The user selected: ' + fileId);
        }
    }
    </script>
{% endblock %}
