{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} {{ FEST_NAME }} {% endblock %}

{% block content %}
	{% with wall=erp_profile.wall %}
		{% include 'modules/profile_banner.html' %}
	{% endwith %}
	
	<div class="row-fluid profile_wrapper">
		<div class="span12">
			<div class="profile_head">
				About 
				
				<a class="btn form_edit offset7" href="javascript:void(0)"><i class="icon-pencil"></i> <span class="edit_text">Edit Profile</span></a>
				<a class="btn primary form_input form_submit" href="javascript:void(0)"> Save Changes</a>
				
			</div>
			<div class="profile_body">
				<form method="POST" enctype="multipart/form-data" class="form_profile">
					{% csrf_token %}	
				    <div class="profile_left span6">
				    	<div class="profile_section ">
					    	<!-- Basic Info -->
					    	<div class="profile_section_head">Basic Info</div>
					    	<div class="row-fluid">
					    		<label class="form_label span4" for="id_name">Name:</label>
						    	<label class="hide" for="id_first_name">First name:</label>
						    	<input id="id_first_name" maxlength="30" name="first_name" type="text" class="form_input input-medium" value="{{ user_form.first_name.value|default_if_none:'' }}">
							
								<label class="hide" for="id_last_name">Last name:</label>
								<input id="id_last_name" maxlength="30" name="last_name" type="text" class="form_input input-medium" value="{{ user_form.last_name.value|default_if_none:'' }}">
							</div>
							
							<div class="row-fluid">
								<label class="span4 form_label " for="id_nickname">Nickname:</label>
							    <input id="id_nickname" name="nickname"  class="form_input input-medium" value="{{ erp_profile_form.nickname.value|default_if_none:'' }}">
							</div>

							<div class="row-fluid">
								<label class="span4 form_label " for="id_gender">Gender:</label>
							    <input id="id_gender" name="gender"  class="form_input input-medium" value="{{ user_profile_form.gender.value|default_if_none:'' }}">
							</div>

							<div class="row-fluid">
								<label class="span4" for="id_dob">Date of Birth:</label> 
								<input id="id_dob" name="dob" type="text"  class="form_input" value="{{ user_profile_form.dob.value|default_if_none:'' }}">	
								
							</div>
						</div>

						
				    	<div class="profile_section">
							<!-- Contact Info -->
							<div class="profile_section_head">Contact Info</div>
							<div class="row-fluid">
								<label class="span4 form_label" for="id_mobile_number">Mobile number:</label> 
								<input id="id_mobile_number" maxlength="10" name="mobile_number" type="text" pattern="[0-9]*" class="form_input only_number" value="{{ user_profile_form.mobile_number.value|default_if_none:'' }}">
							</div>
							<div class="row-fluid">
								<label class="span4 form_label" for="id_summer_number">Summer number:</label> 
								<input id="id_summer_number" maxlength="10" pattern="[0-9]*" name="summer_number" type="text" class="form_input only_number"value="{{ erp_profile_form.summer_number.value|default_if_none:'' }}">
							</div>
							<div class="row-fluid">
								<label class="span4 form_label" for="id_email">Email address:</label>
								<input id="id_email" maxlength="75" name="email" type="email" class="form_input" value="{{ user_form.email.value|default_if_none:'' }}">
							</div>
						</div>
						
					</div>
					<div class="profile_right span6">
				    	<div class="profile_section">
				    		<div class="row-fluid">
						    	<!-- College Info -->
						    	<div class="profile_section_head">College Info</div>
								<label class="span4 form_label" for="id_college">College:</label> 
								<input id="id_college" name="college" type="text" disabled="disabled" class="form_input" value="{{ user_form.college.value|default_if_none:'' }}">
							</div>
				    		<div class="row-fluid">
								<label class="span4 form_label" for="id_college_roll">College Roll:</label> 
								<input id="id_college_roll" name="college_roll" type="text" class="form_input" value="{{ user_profile_form.college_roll.value|default_if_none:'' }}">
							</div>
				    		<div class="row-fluid">
								<label class="span4 form_label" for="id_branch">Branch:</label> 
								<input id="id_branch" name="branch" type="text" class="form_input" value="{{ user_profile_form.branch.value|default_if_none:'' }}">
							</div>
				    		<div class="row-fluid">
								<label class="span4 form_label" for="id_room_no">Room no:</label> 
								<input id="id_room_no" name="room_no" type="text" class="form_input only_number" value="{{ erp_profile_form.room_no.value|default_if_none:'' }}">
							</div>
				    		<div class="row-fluid">
								<label class="span4 form_label" for="id_hostel">Hostel:</label> 
								<input id="id_hostel" name="hostel" class="form_input" value="{{ erp_profile_form.hostel.value|default_if_none:'' }}">
							</div>
						</div>
						

				    	<div class="profile_section">
					    	<div class="row-fluid">
								<!-- Holiday Info -->
								<div class="profile_section_head">Accomodation Info</div>
								<label class="span4 form_label" for="id_summer_stay">Summer stay:</label> <input id="id_summer_stay" maxlength="30" name="summer_stay" type="text" class="form_input" value="{{ erp_profile_form.summer_stay.value|default_if_none:'' }}">
							</div>
							<div class="row-fluid">
								<label class="span4 form_label" for="id_winter_stay">Winter stay:</label> 
								<input id="id_winter_stay" maxlength="30" name="winter_stay" type="text" class="form_input" value="{{ erp_profile_form.winter_stay.value|default_if_none:'' }}">
						    </div>
						    <div class="row-fluid">
								<label class="span4 form_label" for="id_want_accomodation">Want accomodation:</label> 
								<input id="id_want_accomodation" maxlength="30" name="want_accomodation" type="text" class="form_input" value="{{ erp_profile_form.want_accomodation.value|default_if_none:'' }}">
						    </div>
						</div>
					</div>
						
				</form>
			</div>
		</div>
	</div>
	<div class="row-fluid profile_wrapper">
		<div class="span12">
			<div class="profile_head">Shaastra Relations</div>
			<div class="profile_body">

			</div>
		</div>
	</div>
	<div class="row-fluid profile_wrapper">
		<div class="span12">
			<div class="profile_head">Media Relations</div>
			<div class="profile_body">
				
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_css %}
{{ block.super }}
<style type='text/css'>
	.profile_wrapper {
		background: #FFF;
		border: 1px solid #D3D6DB;
		margin-top : 10px;
	}
	.profile_wrapper .profile_head {
		padding-top: 20px;
		padding-bottom: 30px;
		padding-left: 20px;
		font-weight: bold;
		font-size: 25px;
		background-color: #F6F7F8;
		border-bottom: 1px solid #D3D6DB;
	}
	.profile_wrapper .profile_body {
		padding: 10px;
	}
	.profile_wrapper .profile_left {
		border-right: 1px solid #ddd;
		padding-left: 10px;
	}
	.profile_wrapper .profile_right {
		/*border-left: 1px solid #ddd;*/
		padding-right: 10px;
	}
	.profile_wrapper .profile_section {
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}
	.profile_wrapper .profile_section .profile_section_head {
		padding: 10px;
		font-size : 1.3em;
		font-weight : bold;
	}
	.form_value {
		display : inline-block;
	}
	.form_submit {

	}
</style>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script type='text/javascript'>
	function flip_form_profile(arg, time) {
		if ( ! time ) { time = 0; }
		if ( arg == "show" || arg == "toggle" ) {	
			if ( $(".form_value").length == 0 ) {
				console.log("Values already do not exist")
				// If toggle, check if already shown and hide.
				if (arg == "toggle") flip_form_profile("hide",time)
				return
			}
			$(".form_value").slideUp(time)
			$(".form_edit i").removeClass("icon-user");
			$(".form_edit i").addClass("icon-pencil");
			$(".form_edit span.edit_text").html("View Profile");
			$(".form_value").remove()
			setTimeout(function() {
				$(".form_input").slideDown(time)
			}, time)
		} else if ( arg == "hide" ) {
			if ( $(".form_value").length ) {
				console.log("Values already exist")
				return
			}
			$(".form_input").slideUp(time)
			$(".form_edit i").removeClass("icon-pencil");
			$(".form_edit i").addClass("icon-user");
			$(".form_edit span.edit_text").html("Edit Profile");
			$(".form_input").each(function(i, v) {
				v = $(v)
				v.after("<div class=\"form_value\"></div>")
				c = v.next()
				if ( v.prop("tagName") == "SELECT" ) {
					c.html(v.find(":selected").text());
				} else if ( v.prop("tagName") == "INPUT" ) {
					c.html(v.val());
				} else {
					console.log("Invalid tag found : " + v.prop("tagName"));
				}
				c.hide()
			})
			setTimeout(function() {
				$(".form_value").show()
			}, time)
			
		} else {
			console.log("Arg can only be 'show' or 'hide'")
		}
	}
	flip_form_profile("hide")

	$("input.only_number").on("input", function(e){ 
		console.log(e)
	})

	$(".form_submit").click( function () {
		$("form_profile").submit()
	})

	{% if user != user_form.instance %}
		$(".form_edit").remove()
		$(".form_input").remove()
	{% else %}
		$(".form_edit").click( function () {
			flip_form_profile("toggle", 200);
		})
	{% endif %}
	
</script>
{% endblock %}
