{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} {{ FEST_NAME }} {% endblock %}

{% block content %}
<div class="row-fluid profile_wrapper">
	<div class="span12">
		<div class="profile_head">
			About 
			<a class="btn btn-primary form_submit offset9" href="#">Save</a>
		</div>
		<div class="profile_body">
			<form method="POST" enctype="multipart/form-data" class="form_profile">
				{% csrf_token %}
				
				
			    <div class="profile_left span6">
			    	<div class="profile_section ">
				    	<!-- Basic Info -->
				    	<div class="row-fluid">
				    		<label class="form_label span3" for="id_name">Name:</label>
					    	<label class="hide" for="id_first_name">First name:</label>
					    	<input id="id_first_name" maxlength="30" name="first_name" type="text" class="form_input input-medium">
						
							<label class="hide" for="id_last_name">Last name:</label>
							<input id="id_last_name" maxlength="30" name="last_name" type="text" class="form_input input-medium">
						</div>
						
						<div class="row-fluid">
						
							<label class="span3 form_label " for="id_gender">Gender:</label>
						    <select id="id_gender" name="gender"  class="form_input input-medium">
								<option value="M" selected="selected">Male</option>
								<option value="F">Female</option>
							</select>
						</div>
						<div class="row-fluid">
							<label class="span3" for="id_dob">Date of Birth:</label> 
							<input id="id_dob" name="dob" type="text"  class="form_input ">	
						</div>
					</div>

					
			    	<div class="profile_section">
						<!-- Contact Info -->
						<div class="row-fluid">
							<label class="span3 form_label  " for="id_mobile_number">Mobile number:</label> 
							<input id="id_mobile_number" maxlength="10" name="mobile_number" type="text" class="form_input ">
						</div>
						<div class="row-fluid">
							<label class="span3 form_label" for="id_summer_number">Summer number:</label> 
							<input id="id_summer_number" maxlength="10" name="summer_number" type="text" class="form_input ">
						</div>
						<div class="row-fluid">
							<label class="span3 form_label" for="id_email">Email address:</label>
							<input id="id_email" maxlength="75" name="email" type="email" class="form_input ">
						</div>
					</div>
					
				</div>
				<div class="profile_right span6">
			    	<div class="profile_section">
			    		<div class="row-fluid">
					    	<!-- College Info -->
							<label class="span3 form_label" for="id_college">College:</label> 
							<input id="id_college" name="college" type="text" disabled="disabled" value="IIT Madras" class="form_input ">
						</div>
			    		<div class="row-fluid">
							<label class="span3 form_label" for="id_college_roll">College Roll:</label> 
							<input id="id_college_roll" name="college_roll" type="text" class="form_input ">
						</div>
			    		<div class="row-fluid">
							<label class="span3 form_label" for="id_room_no">Room no:</label> 
							<input id="id_room_no" name="room_no" type="number" value="0"class="form_input ">
						</div>
			    		<div class="row-fluid">
							<label class="span3 form_label" for="id_hostel">Hostel:</label> 
							<select id="id_hostel" name="hostel" class="form_input ">
								<option value="" selected="selected">---------</option>
								<option value="Ganga">Ganga</option>
								<option value="Mandak">Mandak</option>
								<option value="Jamuna">Jamuna</option>
								<option value="Alak">Alakananda</option>
								<option value="Saraswathi">Saraswathi</option>
								<option value="Narmada">Narmada</option>
								<option value="Godav">Godavari</option>
								<option value="Pampa">Pampa</option>
								<option value="Tambi">Tambi</option>
								<option value="Sindhu">Sindhu</option>
								<option value="Mahanadi">Mahanadi</option>
								<option value="Sharavati">Sharavati</option>
								<option value="Krishna">Krishna</option>
								<option value="Cauvery">Cauvery</option>
								<option value="Tapti">Tapti</option>
								<option value="Brahmaputra">Brahmaputra</option>
								<option value="Sarayu">Sarayu</option>
							</select>
						</div>
					</div>
					

			    	<div class="profile_section">
				    	<div class="row-fluid">
							<!-- Holiday Info -->
							<label class="span3 form_label" for="id_summer_stay">Summer stay:</label> <input id="id_summer_stay" maxlength="30" name="summer_stay" type="text" class="form_input ">
						</div>
						<div class="row-fluid">
							<label class="span3 form_label" for="id_winter_stay">Winter stay:</label> 
							<input id="id_winter_stay" maxlength="30" name="winter_stay" type="text" class="form_input ">
					    </div>
					</div>
				</div>
					
			</form>
		</div>
	</div>
</div>
<div class="row-fluid profile_wrapper">
	<div class="span12">
		<div class="profile_head">Shaastra Relations</div>
		<div class="profile_body">

		</div>
	</div>
</div>
<div class="row-fluid profile_wrapper">
	<div class="span12">
		<div class="profile_head">Media Relations</div>
		<div class="profile_body">
			
		</div>
	</div>
</div>
{% endblock %}

{% block extra_css %}
{{ block.super }}
<style type='text/css'>
	.profile_wrapper {
		background: #FFF;
		border: 1px solid #D3D6DB;
		margin : 10px;
	}
	.profile_wrapper .profile_head {
		padding-top: 20px;
		padding-bottom: 30px;
		padding-left: 20px;
		font-weight: bold;
		font-size: 25px;
		background-color: #F6F7F8;
		border-bottom: 1px solid #D3D6DB;
	}
	.profile_wrapper .profile_body {
		padding: 10px;
	}
	.profile_wrapper .profile_left {
		border-right: 1px solid #ddd;
		padding-left: 10px;
	}
	.profile_wrapper .profile_right {
		/*border-left: 1px solid #ddd;*/
		padding-right: 10px;
	}
	.profile_wrapper .profile_section {
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}
	.form_value {
		display : inline-block;
	}
	.form_submit {

	}
</style>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script type='text/javascript'>
	function flip_form_profile(arg) {
		if ( arg == "show" ) {	
			if ( $(".form_value").len == 0 ) {
				console.log("Values do not exist")
				return
			}
			$(".form_value").slideUp(500)
			$(".form_value").remove()
			setTimeout(function() {
				$(".form_input").slideDown(500)
			}, 500)
		} else if ( arg == "hide" ) {
			if ( $(".form_value").len ) {
				console.log("Values already exist")
				return
			}
			$(".form_input").slideUp(500)
			$(".form_input").each(function(i, v) {
				v = $(v)
				v.after("<div class=\"form_value\"></div>")
				c = v.next()
				if ( v.prop("tagName") == "SELECT" ) {
					c.html(v.find(":selected").text());
				} else if ( v.prop("tagName") == "INPUT" ) {
					c.html(v.val());
				} else {
					console.log("Invalid tag found : " + v.prop("tagName"));
				}
				c.hide()
			})
			setTimeout(function() {
				$(".form_value").show()
			}, 500)
			
		} else {
			console.log("Arg can only be 'show' or 'hide'")
		}
	}
	flip_form_profile("hide")

	$(".form_submit").click( function () {
		$("form_profile").submit()
	})
</script>
{% endblock %}
