{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} {{ FEST_NAME }} {% endblock %}

{% block topbar %}
{% endblock %}


{% block full_content %}
    <div class='row-fluid'>
        <div class='span12'>
            <a href='{% url "google_refresh_token" %}' class="zocial google"> Generate google refresh token </a> - Need to be logged in as the account you want the drive to be in <br />
            <a href='{% url "github_refresh_token" %}' class="zocial github"> Generate github refresh token </a> - Need to be logged in as the account you want to create issues with
        </div>
    </div>
{% endblock %}

{% block extra_css %}
{{ block.super }}
<link href="{% static 'css/zocial.css' %}" rel="stylesheet" media="screen">

<style>
    .zocial, a.zocial {
        margin : 1.5em 0px;
    }
</style>
{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script>
    </script>
{% endblock %}