{% extends "base/base.html" %} 
{% load staticfiles %} 
{% load humanize %} 

{% block title %} {{ FEST_NAME }} {% endblock %} 

{% block content %}
    <input class="current_page_posts" type="hidden" name="current_page" value="1" />
    
    {% include 'modules/profile_banner.html' %}
    <br/>
    {% url 'create_post' wall.id as new_post_url %}
    {% include "modules/new_post.html" %}
    
    <div id="new_post_placeholder" style="height : 30px;"></div>
    
    {% for post in wall_posts %}
        {% include "modules/post.html" %}    
    {% empty %}
        <div id="empty_wall_msg" class="row-fluid huge muted">
            <hr />
            There are no Posts :(
        </div>
    {% endfor %}
    <div class="row-fluid centered">
        <div class="span12 center see_more_posts" name="see_more" href="javascript:void(0)">See more</div>
    </div>

    </div>
{% endblock %}

{% block extra_css %} {{ block.super }}
<style type="text/css">
.see_more_posts {
    cursor : pointer;
    margin-top : 20px;
    padding : 20px 20px;
    vertical-align : middle;
    background-color : #eee;
    color : #3B5998;
}
.see_more_posts:hover {
    background-color : #dedede;
    color : #000;
}
</style>
{% endblock %} 

{% block extra_js %} 
{{ block.super }}
<script type="text/javascript">
    function dajax_get_posts(data){
        if (!data.exhausted){
            $('#main_body_content .see_more_posts').before(data.append_string);
            var $value = $('#main_body_content .current_page_posts')
            $value.val( parseInt($value.val()) + 1 );
            $('#main_body_content .see_more_posts').removeData("clicked")
        }
        else {
            $('#main_body_content .see_more_posts').html('No more to load');
        }
    }

    $( document ).ready(function() {    
        // See More
        $("#main_body_content .see_more_posts").click(function(e) {
            e = e || event;
            el = this; $el = $(this)
            if ( $el.data("clicked") ) {
                return
            }
            Dajaxice.apps.walls.get_posts(dajax_get_posts, {
                    'page' : parseInt($('#main_body_content .current_page_posts').val())+1, 
                    'wall_id' : {{ wall.id }} 
            })
            $el.data("clicked", "yes")
        })

        // Inifinite scroll
        $(window).scroll(function(){
            var $doc = $(document),
                $win = $(window)
            if ($win.scrollTop() >= $doc.height()-$win.height()) {
                $("#main_body_content .see_more_posts").click();
            }   
        }).scroll();
        
    })
</script>
{% endblock %}
