{% extends "base/base.html" %} 
{% load staticfiles %} 
{% load humanize %} 

{% block title %} {{ FEST_NAME }} {% endblock %} 

{% block content %}
<div class="row-fluid" id="banner" style="">
    <div class="span12" id="banner_wrapper">

        <div class="span12" id="banner_pic">
            <div id="banner_profile">
                <a href="">
                    <img src="{% static 'img/temp/profile_big.jpg' %}" />
                </a>
            </div>
            <span class="banner_title">{{ wall.name }}</span>
        </div>
        <div class="span12" id="banner_bar">
            <div class="banner_item"><a href="" class="banner_link active">Wall</a><i class="selection_caret"></i>
            </div>
            <div class="banner_item"><a href="" class="banner_link">About</a><i class="selection_caret"></i>
            </div>
            <div class="banner_item"><a href="" class="banner_link">Media</a><i class="selection_caret"></i>
            </div>
            <div class="banner_item"><a href="" class="banner_link">Portal</a><i class="selection_caret"></i>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row-fluid" style="">

    {% include "modules/new_post.html" %}
    
    {% for post in wall_posts %}
        <hr />
	    {% include "modules/post.html" %}
	{% empty %}
		<div class="news_post span12">
		    <hr />
		    <div class="news_left">
		        <img src="{% static 'img/temp/profile.jpg' %}" alt="" class="news_profile">
		    </div>
		    <div class="news_main">
		        <div class="news_head">
		        	<i class="icon-chevron-down pull-right news_post_settings" style="display : none;"></i>
		            <a class="news_profile_name">Rahul Satish</a> and Solai Natarajan are now friends.
		        </div>
		        <div class="news_body">
		            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, facilis, magnam, eum, qui error culpa iste molestiae aperiam optio harum officia sapiente voluptates rerum. Suscipit, quod, architecto nihil cupiditate aspernatur iure ad vero veritatis consequuntur fugit molestiae temporibus vel voluptate commodi magni esse ea ratione dicta reiciendis laborum atque ut mollitia dolorem perferendis nulla aut est quisquam consectetur eius omnis dolores quidem facere laboriosam laudantium nemo ullam modi perspiciatis voluptas doloremque blanditiis beatae asperiores. Fuga, temporibus, sunt! Reiciendis, voluptate, aperiam, repudiandae dolore eaque ipsa totam eum harum quam alias beatae quisquam laboriosam quae. Recusandae eos illum delectus esse officiis repellat!
		        </div>
		        <div class="news_extra"></div>
		        <div class="news_comment">
		            <div class="news_comment_left">
		                <img src="{% static 'img/temp/profile.jpg' %}" alt="" class="news_comment_profile">
		            </div>
		            <div class="news_comment_body">
		                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, necessitatibus, voluptatum, recusandae, incidunt distinctio eveniet fugit nesciunt quas enim excepturi doloribus minus odio laudantium possimus fugiat rem autem ab molestiae omnis accusamus in nobis quis adipisci ut quos illum tenetur laborum perferendis sint et officia commodi cum quae esse quod?
		                <div class="news_comment_info">
		                    47 minutes ago
		                </div>
		            </div>

		        </div>
		        <div class="news_comment">
		            <div class="news_comment_left">
		                <img src="{% static 'img/temp/profile.jpg' %}" alt="" class="news_comment_profile">
		            </div>
		            <div class="news_comment_body">
		                <form action="{% url 'create_comment' 1 %}" method="POST">
		                    {% csrf_token %}
		                    <textarea class="span12 comment_textarea" name="comment" id="id_status" cols="30" rows="1" placeholder="Post your comment here"></textarea>
		                    <input class="submit_comment" type="submit" value="Comment" />
		                </form>
		            </div>
		        </div>
		    </div>
		</div>


    {% endfor %}
</div>
{% endblock %} {% block extra_css %} {{ block.super }}
<style type="text/css">
#banner {
    background-color: white;
    min-height : 200px;
    max-height: 500px;
}
#banner .banner_title {
    font-size : 2em;
    width: 150px;
    margin : 20px;
    margin-left : 200px;
    padding : 4px;
    position : absolute;
}
#banner_profile {
    background: rgba(250, 250, 250, 1);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
    border : 1px solid #aaa;
    height : 150px;
    width: 150px;
    margin : 20px;
    padding : 4px;
    position : absolute;
}
#banner_profile img {
    height : 150px;
    width: 150px;
}
#banner_pic {
    background: -webkit-linear-gradient(top, white, #ccc);
    min-height : 200px;
    max-height: 500px;
}
#banner_bar {
    height : 40px;
    border : 1px solid #ddd;
}
#banner_bar .banner_item {
    display : inline-block;
    border-right: 1px solid #ddd;
    width : auto;
    height : 16px;
    line-height: 16px;
    font-size : 14px;
    font-weight : bold;
    padding : 10px 30px;
    margin : 0px;
    vertical-align: middle;
}
#banner_bar .banner_item.active .banner_link, #banner_bar .banner_item .banner_link.active {
    color : black;
    text-decoration : none;
}
#banner_bar .banner_item.active .banner_link + .selection_caret, #banner_bar .banner_item .banner_link.active + .selection_caret {
    visibility : visible;
}
#banner_bar .banner_item > .selection_caret {
    position : relative;
    margin : auto;
    top : 7px;
    visibility : hidden;
}
</style>
{% endblock %} 

{% block extra_js %} 
{{ block.super }}
<script type="text/javascript">
</script>
{% endblock %}
