{% extends "base/base.html" %} 
{% load staticfiles %} 
{% load humanize %} 

{% block title %} {{ FEST_NAME }} {% endblock %} 

{% block content %}
    
    {% include 'modules/profile_banner.html' %}
    <br/>
    {% url 'create_post' wall.id as new_post_url %}
    {% include "modules/new_post.html" %}

	{% for post in wall_posts %}
	    {% with show_post='True' %}
	    	{% include "modules/post.html" %}
	   	{% endwith %}
	{% empty %}
		<div class="row-fluid huge muted">
            <hr />
            There are no Posts :(
		</div>
    {% endfor %}
{% endblock %} {% block extra_css %} {{ block.super }}
<style type="text/css">
</style>
{% endblock %} 

{% block extra_js %} 
{{ block.super }}
<script type="text/javascript">
</script>
{% endblock %}
