<h5>Select rooms</h5><hr/>
<form class="form-horizontal" {% comment %}action="{% url 'hospi.views.check_in_mixed' %}"{% endcomment %} method="POST" >
    {% csrf_token %}
{% for male in males %}
  <div class="control-group">
    <label class="control-label" for="{{ male.saarang_id }}">{{ male.name }}</label>
    <div class="controls">
      <select class='room-select2' name="{{ male.saarang_id }}" id="{{ male.saarang_id }}" placeholder="Select room to allot">
        {% for room in male_rooms %}
                <option value="{{ room.pk }}">{% if room.get_occupants_count >= room.capacity %}(FULL){% endif %}{{ room.name }} in {{ room.hostel.name }} ({{ room.get_occupants_count }} of {{ room.capacity }} max) </option>         
        {% endfor %}
      </select>
    </div>
  </div>
{% endfor %}
<hr/>

{% for female in females %}
  <div class="control-group">
    <label class="control-label" for="{{ female.saarang_id }}">{{ female.name }}</label>
    <div class="controls">
      <select class='room-select2' name="{{ female.saarang_id }}" id="{{ female.saarang_id }}" placeholder="Select room to allot">
        {% for room in female_rooms %}
                <option value="{{ room.pk }}">{% if room.get_occupants_count >= room.capacity %}(FULL){% endif %}{{ room.name }} in {{ room.hostel.name }} ({{ room.get_occupants_count }} of {{ room.capacity }} max) </option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endfor %}
<hr/>
<div class="control-group">
    <label class="control-label" for="matress">Matresses</label>
    <div class="controls">
      <input type="number" name="matress" placeholder="Number of matresses">
    </div>
</div>
<input type="hidden" name="team_id" value="{{ team.pk }}"/>
<div class="pull-right">
<input type="submit" value="Check in!" class="btn btn-warning"/>
</div>
</form>