<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
{% load dajaxice_templatetags %}
{% dajaxice_js_import %}
{% load humanize %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Hospitality | Saarang{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Saarang ERP is the Enterprise Resource Planner for Saarang, which is the annual cultural festival of IIT Madras, with a footfall of over 50000 a year.">
    <meta name="author" content="Web Operations Team - Saarang, IIT Madras">
    <meta name="keywords" contents="saarang, erp, enterprise resource planner, saarang 2014, iit madras, chennai, college, planning, management">
<!-- Styles begin -->
    <link href="{% static 'css/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/docs.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettify.css' %}" rel="stylesheet">
   
    <link href="{% static 'bootstrap/css/bootstrap-rowlink.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.dataTables.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/jquery.dataTables_themeroller.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/TableTools2.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/TableTools_JUI.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/select2.css' %}" rel="stylesheet">
  
    <link href="{% static 'bootstrap/dataTables/bootstrap.css' %}">

    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>-->

    <script type="text/javascript" src='{% static "js/dajaxice.core.js" %}'></script>
    
    <!--<script type="text/javascript" src='{% static "dajax/jquery.dajax.core.js" %}'></script>-->
    


<!-- Styles end -->

<!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/saarang_pics/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/saarang_pics/favicon.ico' %}" type="image/x-icon">

</head>
<body>
 <!-- NavBar Begins -->
    {% block topbar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id = "list_all_teams_tab" class="active" onclick="Dajaxice.apps.portals.hospi.list_all_teams(list_all_teams);"><a href="#">Team Registrations</a></li>
        <li id = "accomodation_statistics_tab" class="" onclick="Dajaxice.apps.portals.hospi.accomodation_statistics(accomodation_statistics);"><a href="#">Accomodation Statistics</a></li>
        <li id = "add_hostel_room_tab" class="" onclick="Dajaxice.apps.portals.hospi.add_hostel_room(add_hostel_room);"><a href="#">Add a Hostel/Room</a></li>
        <li id = "room_map_tab" class="" onclick="Dajaxice.apps.portals.hospi.room_map(room_map);"><a href="#">Room Map</a></li>
      </ul>
      <p class="navbar-text navbar-right"><a href="http://saarang.org" class="navbar-brand" style="height:20px;padding:0px" target="_blank"><img src="{% static 'img/saarang_pics/favicon.ico' %}" height="110%" width="40%"/></a></p>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
<!-- NavBar Ends -->
<!--
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                    <a href="http://saarang.org" class="brand" target="_blank"><img src="{% static 'img/saarang_pics/favicon.ico' %}" height="75%" width="75%"/></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class='active'><a href=""><i class="icon-crown"></i> Home</a></li>
                            <li class='active'><a href=""><i class="icon-crown"></i> Forum</a></li>
                            <li class='active'><a href=""><i class="icon-crown"></i> Hospi</a></li>
                            <li id="topbar_dash1"><a href=""><i class="icon-crown"></i> Mailer</a></li>
                            <li id="topbar_dash2"><a href=""><i class="icon-crown"></i> Security</a></li>
                            <li id="topbar_dash3" class='active'><a href=""><i class="icon-crown"></i> QMS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    -->
<!-- NavBar Ends -->
<!-- Subhead
==================================================--> 
</div>
<!-- Content begin -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" id="content" class="maincontent" style="padding-top:60px;" >
      <div id="list_all_teams"></div>
      <div id="accomodation_statistics"></div>
      <div id="div1">
      <div id ="div2">
        <div id = "add_hostel_room"></div>
      </div>
      </div>
      <div id="room_map"></div>
    </div>
  </div>
</div>
<!-- Content ends -->

<!-- Copyright bar begin -->
    <!-- <div class = "navbar navbar-fixed-bottom ">
      <div class="navbar-inner">
        <div class="container">
        <p class="text-center muted" style="padding-top:10px;">&copy; Copyright 2015 - Saarang WebOps Team</p></div>
      </div>
    </div> -->
<!-- Copyright bar ends -->

<!-- JavaScripts begin -->
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-rowlink.min.js' %}"></script>



    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/TableTools.js' %}"></script>
    <script src="{% static 'js/ZeroClipboard.js' %}"></script>
    <script src="{% static 'js/prettify.js' %}"></script>
    <script src="{% static 'js/holder.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.bootstrap-growl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.jeditable.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.editable.js' %}" ></script>


        <script src="{% static 'bootstrap/dataTables/bootstrap.js' %}"></script>


    <script type="text/javascript">
    function list_all_teams(data){
      document.getElementById("list_all_teams").innerHTML = data.html_content;
      document.getElementById("accomodation_statistics").innerHTML = "";
      document.getElementById("add_hostel_room").innerHTML = "";
      document.getElementById("room_map").innerHTML = "";
      document.getElementById("list_all_teams_tab").className = "active";
      document.getElementById("accomodation_statistics_tab").className = "";
      document.getElementById("add_hostel_room_tab").className = "";
      document.getElementById("room_map_tab").className = "";
      document.getElementById("add_hostel_room_tab").className = "";
      $('#hospitable').dataTable( {
              "bJQueryUI": true,
              "sPaginationType": "full_numbers",
              "sDom": '<"H"Tfr>t<"F"ip>',
              "oTableTools": {
                  "aButtons": [
                      "copy", "csv", "xls", "pdf",
                      {
                          "sExtends":    "collection",
                          "sButtonText": "Save",
                          "aButtons":    [ "csv", "xls", "pdf" ]
                      }
                  ]
              }
          } );
    }
    function accomodation_statistics(data){
      document.getElementById("list_all_teams").innerHTML = "";
      document.getElementById("accomodation_statistics").innerHTML = data.html_content;
      document.getElementById("add_hostel_room").innerHTML = "";
      document.getElementById("room_map").innerHTML = "";
      document.getElementById("list_all_teams_tab").className = "";
      document.getElementById("accomodation_statistics_tab").className = "active";
      document.getElementById("add_hostel_room_tab").className = "";
      document.getElementById("room_map_tab").className = "";
      document.getElementById("add_hostel_room_tab").className = "";
    }
    function add_hostel_room(data){//By Balaji
      document.getElementById("list_all_teams").innerHTML = "";
      document.getElementById("accomodation_statistics").innerHTML = "";
      document.getElementById("room_map").innerHTML = "";
      document.getElementById("add_hostel_room").innerHTML = data.html_content;
      document.getElementById("list_all_teams_tab").className = "";
      document.getElementById("accomodation_statistics_tab").className = "";
      document.getElementById("add_hostel_room_tab").className = "";
      document.getElementById("room_map_tab").className = "";
      document.getElementById("add_hostel_room_tab").className = "active";
    }
    function room_map(data){//By Balaji
      document.getElementById("list_all_teams").innerHTML = "";
      document.getElementById("accomodation_statistics").innerHTML = "";
      document.getElementById("add_hostel_room").innerHTML = "";
      document.getElementById("room_map").innerHTML = data.html_content;
      document.getElementById("list_all_teams_tab").className = "";
      document.getElementById("accomodation_statistics_tab").className = "";
      document.getElementById("add_hostel_room_tab").className = "";
      document.getElementById("room_map_tab").className = "active";
      document.getElementById("add_hostel_room_tab").className = "";
    }
    function add_hostel(data){
      alert(data.message);
      Dajaxice.apps.portals.hospi.room_map(room_map);
    }
    function hostel_details(data){
      document.getElementById("hostelModalBody").innerHTML = data.html_content;
      $('#hostelModal').modal('show')
    }
    function add_team(data){
      document.getElementById("addteamModalBody").innerHTML = data.html_content;
      $("#multiselect1").select2();
      $("#multiselect").select2();
      $('#addteamModal').modal('show')
    }
    function room_details(data){
      document.getElementById("roomModalBody").innerHTML = data.html_content;
      $('#roomModal').modal('show')
    }
    function closeRoomModal(){
      $('#roomModal').modal('hide')
      $('#hostelModal').modal('show')
    }
    function add_room(data){
      alert(data.message);
      Dajaxice.apps.portals.hospi.room_map(room_map);
    }
    function confirm_delete_room(data) {
      if (confirm("Are you sure you want to delete room: " + data.roomname) == true) {
        Dajaxice.apps.portals.hospi.delete_room(delete_room,{'room_id':data.room_id});
      }
    }
    function delete_room(data){
      alert(data.message);
      Dajaxice.apps.portals.hospi.room_map(room_map);
    }
    function confirm_delete_hostel(data) {
      if (confirm("Are you sure you want to delete hostel: " + data.hostelname) == true) {
        Dajaxice.apps.portals.hospi.delete_hostel(delete_hostel,{'hostel_id':data.hostel_id});
      }
    }
    function delete_hostel(data){
      alert(data.message);
      Dajaxice.apps.portals.hospi.room_map(room_map);
    }
    function adding_team(data){
      alert(data.message);
      Dajaxice.apps.portals.hospi.list_all_teams(list_all_teams);
    }
    function team_details(data){
      document.getElementById("team_details").innerHTML = data.html_content;
    }
    
    
    </script>



    <script type="text/javascript">
        $(function(){
          Dajaxice.apps.portals.hospi.list_all_teams(list_all_teams);
        });
        
    </script>
    <!--<script type="text/javascript" src="{{ STATIC_URL }}js/tinymce/tinymce.min.js"></script>-->
    <!--<script type="text/javascript">
    $(function(){
      $('.require-alert').on('click', function(){
        var c = confirm('Are you sure?');
        if(!c){return false}
      });
    });
    </script>-->
    <!--
    <script>
        tinymce.init({
            selector: "textarea:not(.comments)",
            theme: "modern",
            width: 750,
            height: 300,
            plugins: [
                 "advlist autolink link lists charmap print preview hr anchor pagebreak spellchecker",
                 "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime nonbreaking",
                 "save table contextmenu directionality emoticons template paste textcolor "
           ],
           content_css: "css/content.css",
           toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | print preview media fullpage | forecolor backcolor emoticons",
           style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
            ],
            editor_deselector : "mceNoEditor"
         });
    </script>
    -->
    <!--
    <script>
      $(document).ready( function () {
          $('#datatable').dataTable( {
              "bJQueryUI": true,
              "sPaginationType": "full_numbers",
              "sDom": '<"H"Tfr>t<"F"ip>',
              "oTableTools": {
                  "aButtons": [
                      "copy", "csv", "xls", "pdf",
                      {
                          "sExtends":    "collection",
                          "sButtonText": "Save",
                          "aButtons":    [ "csv", "xls", "pdf" ]
                      }
                  ]
              }
          } );
      } );
    </script>
-->
<!-- For forum table --> 
<!--
<script>
      $(document).ready( function () {
          $('#forumtable').dataTable( {
              "bJQueryUI": true,
              "sPaginationType": "full_numbers",
              "sDom": '<"H"Tfr>t<"F"ip>',
              'iDisplayLength': 14,
              "oTableTools": {
                  "aButtons": [
                      "copy", "csv", "xls", "pdf",
                      {
                          "sExtends":    "collection",
                          "sButtonText": "Save",
                          "aButtons":    [ "csv", "xls", "pdf" ]
                      }
                  ]
              }
          } );
      } );
      $(document).ready( function () {
          $('#itemtable').dataTable( {
              "bJQueryUI": true,
              "sPaginationType": "full_numbers",
              "sDom": '<"H"Tfr>t<"F"ip>',
              'iDisplayLength': 1000,
              "oTableTools": {
                  "aButtons": [
                      "copy", "csv", "xls", "pdf",
                      {
                          "sExtends":    "collection",
                          "sButtonText": "Save",
                          "aButtons":    [ "csv", "xls", "pdf" ]
                      }
                  ]
              }
          } );
      } );
      $(document).ready( function () {
          $('#hospitable').dataTable( {
              "bJQueryUI": true,
              "bPaginate": false,
              "sDom": '<"H"Tfr>t<"F"ip>',
              "oTableTools": {
                  "aButtons": [
                      "copy", "csv", "xls", "pdf",
                      {
                          "sExtends":    "collection",
                          "sButtonText": "Save",
                          "aButtons":    [ "csv", "xls", "pdf" ]
                      }
                  ]
              }
          } );
      } );
      $(document).ready( function () {
          $('#prizetable').dataTable( {
              "bJQueryUI": true,
              "sPaginationType": "full_numbers",
              "sDom": '<"H"Tfr>t<"F"ip>',
              'iDisplayLength': 1000,
              "oTableTools": {
                  "aButtons": [
                      "copy", "csv", "xls", "pdf",
                      {
                          "sExtends":    "collection",
                          "sButtonText": "Save",
                          "aButtons":    [ "csv", "xls", "pdf" ]
                      }
                  ]
              }
          } );
      } );
      $(document).ready( function () {
          $('#misctable').dataTable( {
              "bJQueryUI": true,
              "sPaginationType": "full_numbers",
              "sDom": '<"H"Tfr>t<"F"ip>',
              'iDisplayLength': 1000,
              "oTableTools": {
                  "aButtons": [
                      "copy", "csv", "xls", "pdf",
                      {
                          "sExtends":    "collection",
                          "sButtonText": "Save",
                          "aButtons":    [ "csv", "xls", "pdf" ]
                      }
                  ]
              }
          } );
      } );
</script>
-->
<!--
    <script>
        $(document).ready(function() { $("#multiselect").select2(); });
    </script>
-->
<!-- JavaScripts end -->
</body>
</html>