<script type="text/javascript">
$(function () {
  $('#tab_map').addClass('active');
})
</script>
<style type="text/css">


.wrapper {

    text-align: center;

  }
 
  .inner {
    text-align: center;

    padding: 10px;
  }
</style>
<legend>Room map</legend>
<div class="well row-fluid">
    <div class="row-fluid">
    {% for hostel in hostels %}
            <a class="span3" data-target="#hostelModal" href="#"onclick="Dajaxice.apps.portals.hospi.hostel_details(hostel_details,{'hostel_id':{{hostel.pk}}});">
            <div class="wrapper alert {% if hostel.gender == 'male' %}alert-success{% elif hostel.gender == 'female' %}alert-danger{%endif%}">
                <div class="inner">
                        <p>
                            <strong>{{ hostel.name }}</strong>
                        </p>
                        <p>
                            {{ hostel.get_room_count }} rooms
                        </p>
                        <p>
                            {{ hostel.get_current_population }} alloted
                        </p>
                </div>
            </div>

            </a>
        {% if forloop.counter|divisibleby:4 %}
            </div><div class="row-fluid">
        {% endif %}

    {% endfor %}

</div>

<div class="modal fade" id="hostelModal" tabindex="-1" role="dialog" aria-labelledby="hostelModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div id = "hostelModalBody" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--
<div id="hostelModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="hostelModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="hostelModalLabel">Hostel room map</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
-->
