<!DOCTYPE html>{% load staticfiles %}

<html lang="en">

<head>
    <meta name="application-name" content="{{FEST_NAME}} Website">
    <meta name="author" content="{{FEST_NAME}} WebOps Team">
    <meta name="description" content="{% block descriptionmeta %} {% endblock %}">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} {{ FEST_NAME }} {% endblock %}</title>

    {% if DEBUG %}
        <script>
            localStorage.clear(); /* kill cache */
        </script>
    {% endif %}

    <!-- Include stylesheets here -->
    <link href="{% static 'css/erp-bootstrap.css' %}" rel="stylesheet" media="screen">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" media="screen">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    {% block extra_css %}{% endblock %} 

    {% if not DEBUG %}
    <script type="text/javascript">
        (function(i, s, o, g, r, a, m) {
            i["GoogleAnalyticsObject"] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, "script", "//www.google-analytics.com/analytics.js", "ga");

        //ga("create", "", "");
        //ga("send", "pageview");
    </script>
    {% endif %}
</head>

<body>

    {% block topbar %} {% include 'base/topbar.html' %} {% endblock %}

    <div class="container-fluid below_topbar">
        {% block full_content %}
        <div class="row-fluid">
            <div class="span2 sidebar">
                {% include 'base/sidebar.html' %}
            </div>
            <div class="span10 main_body">
                {% block content %} {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>


    <script type="text/javascript" src="{% static 'js/jquery-1.11.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/erp-bootstrap-twipsy.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/erp-bootstrap-alerts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/erp-bootstrap-buttons.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/erp-bootstrap-dropdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/erp-bootstrap-popover.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/erp-bootstrap-modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/erp-bootstrap-scrollspy.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/prefixfree.min.js' %}"></script>
    <script type="text/javascript" src='{% static "dajax/jquery.dajax.core.js" %}'></script>
    {% load dajaxice_templatetags %} {% dajaxice_js_import %} 
    {% block extra_js %}{% endblock %}

    {% include "base/notifs.html" %}
    {% include "base/messages.html" %}
    {% include "base/users.html" %}
    {% include "base/settings.html" %}
    <script>
        function hide_popups() {
            $(".userButton").popover("hide")
            $(".messageButton").popover("hide")
            $(".notifButton").popover("hide")   
            $(".settingButton").popover("hide") 
        }
        $(".below_topbar").click(hide_popups)
    	$(".searchbar").click(hide_popups)
    </script>
</body>

</html>
