<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
<html lang="en">

<head>
    {% include 'base/meta.html' %} 
    <title>{% block title %} {{ FEST_NAME }} {% endblock %}</title>


    {% compress css %}

    <!-- Include stylesheets here -->
    <link href="{% static 'css/erp-bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/jquery.atwho.css' %}" rel="stylesheet" media="screen">
    
    <link href="{% static 'css/icons-color.css'%}" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='{%static "css/select2.css"%}' media="screen"/>


    {% block extra_css %} {% endblock %}
    {% endcompress %}

    
    <link rel="shortcut icon" href="{% static 'img/fest_pics/favicon.ico' %}">
    
    
    {% compress js %} 
    <script type="text/javascript" src="{% static 'js/jquery-1.11.0.js' %}"></script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
            <!--[if lt IE 9]>
                  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->

    {% endcompress %}
   
    {% if not SETTINGS.DEBUG %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{SETTINGS.ANALYTICS_ID}}', '{{ SETTINGS.ANALYTICS_SITE }}');
        ga('send', 'pageview');
    </script>
    {% endif %}
   
</head>

<body>

    {% block topbar %} 
    	{% include 'base/topbar.html' %} 

	    {% include "base/notifs.html" %}
	    {% comment %}
	    	{% include "base/messages.html" %}
	    	{% include "base/users.html" %}
	    {% endcomment %}
	    {% include "base/settings.html" %}

    {% endblock %}

    <div class="container-fluid below_topbar">
        {% block full_content %}
        <div class="row-fluid">
            {% block left_content %} 
                <div class="span2 offset1 sidebar fixedbar" >
                    {% block sidebar %} 
                	   {% include 'base/sidebar.html' %}
                    {% endblock %}
                </div>
            
	            <div id="main_body_content" class="span6 main_body">
	                {% block content %} {% endblock %}
	            </div>
            {% endblock %}
            <div id="rightbar" class="span2 rightbar fixedbar">
                {% block rightbar %} 
                    {% include 'base/rightbar.html' %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>

    {% compress js %}
    <script type="text/javascript" src="{% static 'js/erp-bootstrap-twipsy.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/erp-bootstrap-alerts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/erp-bootstrap-buttons.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/erp-bootstrap-dropdown.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'js/erp-bootstrap-popover.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/erp-bootstrap-modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/erp-bootstrap-scrollspy.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'js/erp-bootstrap-affix.js' %}"></script>
    
    <!-- <script type="text/javascript" src="{% static 'js/prefixfree.min.js' %}"></script> -->
    
    <script type="text/javascript" src='{% static "dajax/jquery.dajax.core.js" %}'></script>
    {% load dajaxice_templatetags %} {% dajaxice_js_import %} 
    
    
    <script src='{% static "js/select2.js" %}'/>
        
    <script type="text/javascript" src='{% static "js/jquery.caret.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery.atwho.js" %}'></script>
    
    <script type="text/javascript" src='{% static "js/autocomplete.js" %}'></script>

    <script type="text/javascript" src='{% static "js/jquery.autosize.js" %}'></script>
    <script type="text/javascript" src='{% static "js/local_storage.js" %}'></script>

    {% if experimental %}
    <script type="text/javascript" src='{% static "modules/ckeditor/ckeditor.js"%}'></script>
    {% endif %}
    <!--<script type="text/javascript" src='{% static "modules/ckeditor/adapters/jquery.js"%}'></script>-->

    {% endcompress %}

    {% block extra_js %}{% endblock %}
    <script>
    	site_url = "{{ SITE_URL }}"
    	static_url = "{{ SETTINGS.STATIC_URL }}"
    	authToken = "{{ google_access_token }}"
        fest_fbid = "{{ SETTINGS.FEST_FBID }}"
        
        var contentEditableActive = {{ experimental }};   //flag to switch between markdown and native html.

        function hide_popups(except) {
            ["userButton", "messageButton", "notifButton", "settingButton", "attach_link_btn", "attach_emoticon_btn"].forEach(function(i) {
                if ( !except || except.indexOf(i) == -1 ) {
                    $("." + i).popover("hide") 
                }
            })
	    }
        
	    $( document ).click(function() {
	    	hide_popups()
	    })
	
        function on_dom_change() {
            $(".resize_textarea").autosize();
            if ( ! ( typeof at_config_file === "undefined" ) )
            	$('.atwho_at_config').atwho(at_config_file);
            if ( ! ( typeof at_config === "undefined" ) )
            	$('.atwho_at_config').atwho(at_config);
            
            // Comment beautify
            $(".display_pic").get_dp()
            $(".comment_link_render.comment_link").get_link_preview()
            $(".markdown").markdown()
            $("a[rel]").twipsy()
        }        
        $( document ).ready(function() {
            var $win = $(window), $doc = $(document);
            $win.scroll(function(){
                $(".fixedbar").css({
                    "margin-top" : $doc.scrollTop() + "px",
                    "height" : $(window).height()*0.9 + "px",
                })
            }).scroll();

            get_autocomplete_lists("{% static 'json/user_list.json' %}", "{% static 'json/subdept_list.json' %}", "{% static 'json/dept_list.json' %}", "{% static 'json/page_list.json' %}");
          
    	})
        $(window).bind('load', function () {
            $(".resize_textarea").autosize()
            on_dom_change()
        })
    </script>

</body>

</html>
