{% load staticfiles %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta name="keywords" content="iitm iit madras">
<meta name="description" content="Fest API - Where we manage Fests">
<meta name="author" content="">

<meta property="og:title" content="Fest API | 2015">
<meta property="og:type" content="Fest">
<meta property="og:url" content="http://festapi.com">
<meta property="og:image" content="{% static 'img/fest_pics/login_page_logo.png' %}">
<meta property="og:site_name" content="Fest API">
<meta property="og:description" content="Fest API">

