{% load staticfiles %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta name="keywords" content="iitm, team, robocon, robotics, auto, autonomous, bot, manual, iit, madras, mit, pune, abu, dd, doordarshan, india, chennai, shaastra, iitmadras, 2015">
<meta name="description" content="Shaastra - ERP. The gateway to administrating Shaastra ( techfest of IIT Madras ) with ease.">
<meta name="author" content="Abdeali JK">

<meta property="og:title" content="Shaastra ERP | 2015">
<meta property="og:type" content="Techfest">
<meta property="og:url" content="http://erp.shaastra.org">
<meta property="og:image" content="{% static 'img/logo/logo_blue.png' %}">
<meta property="og:site_name" content="Shaastra ERP | 2015">
<meta property="og:description" content="Shaastra - ERP. The gateway to administrating Shaastra ( techfest of IIT Madras ) with ease.">
