{% load staticfiles %} 
{% load humanize %}
{% load once %}

<div class="notif {%if notification.unread%}unread{%endif%}" 
	data-actor="{{ notification.actor.id }}" 
	data-recipient="{{ notification.recipient.id }}"
	data-action-object="{{ notification.action_object.id }}" 
	data-target="{{ notification.target.id }}" 
	data-wall="{{ notification.target.wall.id }}" onclick="window.location.href = '{% url 'read_notification' notification.id %}'">
	<div class="profile_pic">
		<img class='profile_dp' src='{% static "img/temp/profile.jpg" %}' />
	</div>
	<div class="notif_body">
		<span class="profile_name">{{ notification.actor.get_full_name|default:"" }} </span>
		{{ notification.verb|default:"" }} <span class="bold">{{ notification.target.wall|default:"" }}</span> 
		<br />
		{% autoescape off %} {{ notification.action_object.description }} {% endautoescape %}
	</div>
	<div class="notif_foot">
		{{ notification.timestamp|naturaltime }}
	</div>
</div>