{% load staticfiles %} 
{% load humanize %}

<div class="hidden notifs_title">
	<div class="notifs_title_inner">
		<span class="bold notifs_title">Notifications</span>
		<span class="pull-right notifs_link" id="notifs_settings">
			<a href="javascript:alert('Not implemented');">Settings</a>
		</span>
		<span class="pull-right notifs_link"> | </span>
		<span class="pull-right notifs_link" id="notifs_read">
			<a href="{% url 'read_notification' 'all' %}">Mark all Read</a>
		</span>
	</div>
</div>

<div class="hidden notifs_content">
	<div class="notifs_contents_inner">
		{% for notification in user.notifications.unread %}
			<div class="notif unread" 
				data-actor="{{ notification.actor.id }}" 
				data-recipient="{{ notification.recipient.id }}"
				data-action-object="{{ notification.action_object.id }}" 
				data-target="{{ notification.target.id }}" 
				data-wall="{{ notification.target.wall.id }}"onclick="javascript:window.location.href = '{% url
				'read_notification' notification.id %}'">
				<div class="profile_pic">
					<img class='profile_dp' src='{% static "img/temp/profile.jpg" %}' />
				</div>
				<div class="notif_body">
					<span class="profile_name">{{ notification.actor.get_full_name|default:"" }} </span>
					{{ notification.verb|default:"" }} <span class="bold">{{ notification.target|default:"" }}</span> 
					<br />
					{{ notification.action_object.description|default:"" }}
				</div>
				<div class="notif_foot">
					{{ notification.timestamp|naturaltime }}
				</div>
			</div>
		{% empty %}
			<div class="notif muted">
				You have no unread notifications :)
			</div>
		{% endfor %}
		{% for notification in user.notifications.read %}
			<div class="notif" data-sender="{{ notification.sender.id }}" data-recipient="{{ notification.recipient.id }}" data-action-object="{{ notification.action_object.id }}" data-target="{{ notification.target.id }}" data-wall="{{ notification.target.wall.id }}" onclick="window.location.href = '{% url 'read_notification' notification.id %}'">
				<div class="profile_pic">
					<img class='profile_dp' src='{% static "img/temp/profile.jpg" %}' />
				</div>
				<div class="notif_body">
					<span class="profile_name">{{ notification.actor.get_full_name|default:"" }} </span>
					{{ notification.verb|default:"" }} <span class="bold">{{ notification.target|default:"" }}</span> 
					<br />
					{{ notification.action_object.description|default:"" }}
				</div>
				<div class="notif_foot">
					{{ notification.timestamp|naturaltime }}
				</div>
			</div>
		{% endfor %}
		{% if user.notifications.count == 0 %}
			<div class="notif muted">
				You have no notifications ! :(
			</div>
		{% endif %}
	</div>
</div>

<style>
	.notifs_title_inner {
	}
	.notifs_title_inner .notifs_title {
		font-size : 13px;
	}
	.notifs_title_inner .notifs_link {
		font-size : 11px;
		margin: 2px 2px;
		font-weight : 100;
	}
	.notifs_contents_inner {
		max-height : 300px;
		overflow-y : auto;
	}
	.notifs_contents_inner .notif {
		border-bottom : 1px solid #ddd;
		padding: 5px 10px;
	}
	.notifs_contents_inner .notif:last-child {
		border-bottom : 0px;
	}
	.notifs_contents_inner .notif .profile_dp {
		height : 50px;
		width : 50px;
		float : left;
	}
	.notifs_contents_inner .notif .notif_body {
		margin-left : 60px;
		height : 43px;
		font-size : 11px;
	}
	.notifs_contents_inner .notif .notif_body .profile_name {
		font-weight: bold;
	}
	.notifs_contents_inner .notif .notif_foot {
		margin-left : 60px;
		color : #aaa;
	}
	.notif {
		cursor : pointer;
	}
	.notif.muted {
		cursor : default;
	}
	.notif.unread {
		background-color : #ffffe5;
	}
	.notif:hover {
		background-color : #f0f0f0;
	}
</style>


<script>
	$( document ).ready(function() {
		$(".notifButton").popover({
			"animate": true,
			"delayIn": 200,
			"delayOut": 200,
			"placement": "below",
			"html": true,
			"title": notifs_title,
			"content": notifs_content,
			"trigger": "manual",
			"myClass": "jewel_popover popover_notifs"
		})

		function notifs_title() {
			return $(".notifs_title").html()
		}

		function notifs_content() {
			return $(".notifs_content").html()
		}
		$(".notifButton").click( function(e) {
			$(".userButton").popover("hide")
			$(".notifButton").popover("toggle")
			$(".messageButton").popover("hide")
			$(".settingsButton").popover("hide")
			e.preventDefault()
		})
		// $(".notifButton").popover("show")
	});
</script>
