{% load staticfiles %} 
{% load humanize %}
{% load once %}

<div class="hidden notifs_title">
	<div class="notifs_title_inner">
		<span class="bold notifs_title">News Feed</span>
		<span class="pull-right notifs_link" id="notifs_settings">
			<a href="javascript:alert('Not implemented');">Settings</a>
		</span>
		<span class="pull-right notifs_link"> | </span>
		<span class="pull-right notifs_link" id="notifs_read">
			<a href="{% url 'read_notification' 'all' %}">Mark all Read</a>
		</span>
	</div>
</div>

<div class="hidden notifs_content">
	<div id="id_notifs_container_unread" class="notifs_contents_inner">
		<input type="hidden" name="current_page_unread" id="id_current_page_unread" value="5" />
		{% for notification in user.notifications.all|slice:":5" %}
			{%include 'base/notification.html'%}
		{% empty %}
			<div class="notif muted">
				You have no unread notifications.
			</div>
		{% endfor %}
		<div class="center" name="see_more_unread" id="id_see_more_unread">
			See more
		</div>
	</div>	
</div>

{% once notifs_topbar_styles_and_scripts %}
<style>
	.notifs_title_inner {
	}
	.notifs_title_inner .notifs_title {
		font-size : 13px;
	}
	.notifs_title_inner .notifs_link {
		font-size : 11px;
		margin: 2px 2px;
		font-weight : 100;
	}
	.notifs_contents_inner {
		max-height : 300px;
		overflow-y : auto;
	}
	.notifs_contents_inner .notif {
		border-bottom : 1px solid #ddd;
		padding: 5px 10px;
	}
	.notifs_contents_inner .notif:last-child {
		border-bottom : 0px;
	}
	.notifs_contents_inner .notif .profile_dp {
		height : 50px;
		width : 50px;
		float : left;
	}
	.notifs_contents_inner .notif .notif_body {
		margin-left : 60px;
		height : 43px;
		font-size : 11px;
	}
	.notifs_contents_inner .notif .notif_body .profile_name {
		font-weight: bold;
	}
	.notifs_contents_inner .notif .notif_foot {
		margin-left : 60px;
		color : #aaa;
	}
	.notif {
		cursor : pointer;
	}
	.notif.muted {
		cursor : default;
	}
	.notif.unread {
		background-color : #ffffe5;
	}
	.notif:hover {
		background-color : #f0f0f0;
	}
	#id_see_more_unread {
		background-color : #f0f0f0;	
		padding : 5px;
		color: #3B5998;
		cursor : pointer;
	}
	#id_see_more_unread:hover {
		background-color : #e0e0e0;	
		color: #1B3978;
		text-decoration : underline;
	}
</style>


<script>
	var callback = function append_new_data(data){
		var append_div = "#id_notifs_container_" + data.notif_type
		var count_field = "#id_current_page_"+ data.notif_type
		var load_button = "#id_see_more_" + data.notif_type
	    if (!data.exhausted){
    	    $(append_div).append(data.append_string);
        	$(count_field).val(parseInt($(count_field).val())+1);
    	}
    	else {
        	$(load_button).html('No more to load');
    	}
	}
	$( document ).ready(function() {
		$(".notifButton").popover({
			"animate": true,
			"delayIn": 200,
			"delayOut": 200,
			"placement": "below",
			"html": true,
			"title": notifs_title,
			"content": notifs_content,
			"trigger": "manual",
			"myClass": "jewel_popover popover_notifs"
		})

		function notifs_title() {
			return $(".notifs_title").html()
		}

		function notifs_content() {
			return $(".notifs_content").html()
		}
		$(".notifButton").click( function(e) {
			$(".userButton").popover("hide")
			$(".notifButton").popover("toggle")
			$(".messageButton").popover("hide")
			$(".settingsButton").popover("hide")
			e.preventDefault()
		})
		// $(".notifButton").popover("show")
		function see_more_notifs(data) {
			Dajax.process(data)
		}
		$("#id_see_more_unread").click(function () {
			Dajaxice.apps.home.load_notifs(see_more_notifs, {
				'start':parseInt($('#id_current_page_unread').val()),
				'end':parseInt($('#id_current_page_unread').val())+4,
				'targetdiv': '#id_notifs_container_unread' 
			})
		})

	});
	/*
	$("#id_notifs_container_unread").scroll(function(){
		var scrollPos = 0;
		if(scrollPos==$(this).scrollTop()){
			alert("reached bottom!");
		}
		scrollPos = $(this).scrollTop();
	});*/
	
</script>
{% endonce %}