{% load staticfiles %}
    <div class="row-fluid right_new_post">
        <div class="span12">
            <select id="select0" class="new_post_to select2 select_all_list" multiple>
                
            </select>
            <!-- <textarea class="new_post_to" placeholder="To " rows="1"></textarea> -->
            <textarea class="new_post" placeholder="Quick Post - Not working" rows="3"></textarea>
            <a class="pull-right btn primary new_post_submit" href="javascript:void(0)"> Post </a>
       </div>
    </div>
    <hr />
    <div class='row-fluid right_search'>
        <div class='contact_searchbar searchbar span12'>  
            <input class='input' id='topbar_search_input' type='text' placeholder=' Search for stuff ...'>
            
        </div>
    </div>
    <div class="row-fluid right_data">
        <div class="span12 righ_data_inner">
            {% with name="aavdjbdfjvdf jdhf jdfbjdf jfdgaa" %}
                {% include "modules/right_data_item.html" %}
            {% endwith %}
            {% with name="aaaa" %}
                {% include "modules/right_data_item.html" %}
            {% endwith %}
            {% with name="aaaa" %}
                {% include "modules/right_data_item.html" %}
            {% endwith %}
            {% with name="aaaa" %}
                {% include "modules/right_data_item.html" %}
            {% endwith %}
            {% with name="aaaa" %}
                {% include "modules/right_data_item.html" %}
            {% endwith %}
            {% with name="aaaa" %}
                {% include "modules/right_data_item.html" %}
            {% endwith %}
            {% with name="aaaa" %}
                {% include "modules/right_data_item.html" %}
            {% endwith %}
            {% with name="aaaa" %}
                {% include "modules/right_data_item.html" %}
            {% endwith %}
            {% with name="aaaa" %}
                {% include "modules/right_data_item.html" %}
            {% endwith %}
        </div>
    </div>
    

<style>
.rightbar .right_new_post {
}
.rightbar .right_new_post .new_post_to {
    width : 100%;
    margin : 0.5em;
}
.rightbar .right_new_post .new_post {
    width : 100%;    
    margin : 0.5em;
}
.rightbar .right_new_post .new_post_submit {
    padding : 0.5em 2em;

}
.rightbar .right_data {
    margin-left : 1em;
}
.rightbar .right_data .data_item {
    color: #141823;
    height : 30px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.rightbar .right_data .data_item:hover,
.rightbar .right_data .data_item.active {
    background-color : #dcdcde;
    border-top: 1px solid #c0c0c1;
    border-bottom: 1px solid #c0c0c1;
}
.rightbar .right_data .data_item .pic {
    float:left;
    margin : 0px 5px;
}
.rightbar .right_data .data_item .pic,
.rightbar .right_data .data_item .pic img {
    margin-top : 1px;
    height : 26px;
}
.rightbar .right_data .data_item .text {
    margin-left : 34px;
    padding-left : 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;

}
.rightbar .right_search {
    width: 100%;
    margin :0.5em;
}
.contact_searchbar input {
    height : 14px;
    width : 100%;    
    padding : 4px;
    border: 1px solid #D4DAE8;
    margin : 0px;
}

</style>

<script>
    $( document ).ready(function() {            
        // $(".new_post_submit").click(function() {
        //     Dajaxice.apps.walls.create_post(prepend_new_post, {
        //         'wall_id': {{ wall.id }}, 
        //         'post_form': $('#id_form_status').serialize(true) 
        //     })
        // });

        $('.select2').select2();
        
    });
</script>