{% load staticfiles %}

<div class="" data-spy="affix">
    <div class="row-fluid">
        <div id='profile_tab' class='span12'>
            <a href='#'>
                <img class='profile_dp' src='{% static "img/temp/profile.jpg" %}' />
            </a>
            <div class='profile_name'>
                <a href="{% url 'wall' %}" class='bold'>{{ user.get_full_name }}</a>
                <br />
                <a href="{% url 'profile' %}" class=''>Edit profile</a>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div id='favourite_links' class='span12 links'>
            <div class='group_link_head'>FAVOURITES</div>
            <ul class='group_link vertical'>
                <li class="{% if current_page == 'profile' %}active{% endif %}">
                    <a href="{% url 'profile' %}">
                        <i class="pic-bulb"></i> Profile
                    </a>
                </li>
                <li class="{% if current_page == 'newsfeed' %}active{% endif %}">
                    <a href="{% url 'newsfeed' %}">
                        <i class='icon-search'></i> News feed {% if user.notifications.unread.count != 0 %}
                        <span class='label pull-right counter'>{{ user.notifications.unread.count }}</span>{% endif %}
                    </a>
                </li>
                <li class="{% if current_page == 'notifications' %}active{% endif %}">
                    <a href="{% url 'notifications' %}">
                        <i class='icon-search'></i> Recent posts

                    </a>
                </li>
                <li class="{% if current_page == 'contacts' %}active{% endif %}">
                    <a href="{% url 'contacts' %}">
                        <i class='icon-search'></i> User Contacts
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div id='page_links' class='span12 links'>
            <div class='group_link_head'>WALLS</div>
            <ul class='group_link vertical'>
                <li class="{% if current_page == 'wall' %}active{% endif %}">
                    <a href="{% url 'wall' user.erp_profile.wall.id %}">
                        <i class='icon-search'></i> Personal Wall
                    </a>
                </li>
                {% if session.role == 'coord' %}
                <li class="{% if current_page == 'dept_wall' %}active{% endif %}">
                    <a href="{% url 'my_wall' 'subdept' session.role_dept %}">
                        <i class='icon-search'></i> Subdept Wall
                    </a>
                </li>
                {% else %}
                <li class="{% if current_page == 'dept_wall' %}active{% endif %}">
                    <a href="{% url 'my_wall' 'dept' session.role_dept %}">
                        <i class='icon-search'></i> Department Wall
                    </a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
    <div class="row-fluid">
        <div id='portal_links' class='span12 links'>
            <div class='group_link_head'>PORTALS</div>
            <!-- <ul class='group_link vertical'>
        <li><a href='#'>
            <i class='icon-search'></i> Events Portal
            {# <span class='label pull-right counter'>0</span> #}
        </a></li>
        <li><a href='#'>
            <i class='icon-search'></i> Personal page
            {# <span class='label pull-right counter'>0</span> #}
        </a></li>
        <li><a href='#'>
            <i class='icon-search'></i> Personal page
            <span class='label pull-right counter loading'><i class='icon-loading'></i></span>
        </a></li>
    </ul> -->
            <span class="muted">Coming soon ...</span>

        </div>
    </div>
</div>

<style>
.sidebar {
    padding: 10px 10px;
}
.sidebar #profile_tab {
    padding : 10px;
    font-size: 11px;
}
.sidebar #profile_tab .profile_dp {
    height : auto;
    width : 47px;
    margin: 3px 5px 3px 3px;
    display: inline-block;
}
.sidebar #profile_tab .profile_name {
    width : 50%;
    padding: 0px 0px 0px 0px;
    margin: 5px 5px 0px 0px;
    display: inline-block;
    word-wrap: break-word;
    vertical-align: top;
    white-space: nowrap;
}
.sidebar .group_link_head, .group_head {
    color: #999;
    font-size: 9px;
    font-weight: bold;
    padding-top : 10px;
}
.sidebar ul.group_link.vertical > li.active {
    font-weight : bold;
    background-color: rgb(216, 223, 234);
}
.sidebar ul.group_link.vertical > li.active a:hover, .sidebar ul.group_link.vertical > li.active:hover {
    font-weight : bold;
    background-color: rgb(216, 223, 234);
}
ul.group_link.vertical {
    list-style-type: none;
    margin : 0px;
}
ul.group_link.vertical > li {
    width: 100%;
    padding : 3px 0px;
}
ul.group_link.vertical > li a {
    color : black;
    width : 100%;
    display : block;
    font-size : 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    text-decoration : none;
    color : #333333;
}
ul.group_link.vertical > li:hover, ul.group_link.vertical > li a:hover {
    color : black;
    text-decoration : none;
    background-color : rgb(239, 242, 247);
}
</style>