{% load staticfiles %}

<div id='profile_tab' class='span12'>
    <a href='#'><img class='profile_dp' src='{% static "img/temp/profile.jpg" %}' /></a>
    <div class='profile_name'>
        <a href="{% url 'wall' %}" class='bold'>{{ user.get_full_name }}</a><br />
        <a href="{% url 'profile' %}" class=''>Edit your profile</a>
    </div>
</div>

<div id='favourite_links' class='span12 links'>
    <div class='group_link_head'>FAVOURITES</div>
    <ul class='group_link vertical'>
        <li class="{% if current_page == 'profile' %}active{% endif %}"><a href="{% url 'profile' user.id %}">
            <i class='icon-search'></i> Profile
            <span class='label pull-right counter'>0</span>
        </a></li>
        <li class="{% if current_page == 'newsfeed' %}active{% endif %}"><a href="{% url 'newsfeed' %}">
            <i class='icon-search'></i> News feed
            <span class='label pull-right counter'>0</span>
        </a></li>
        <li class="{% if current_page == 'notifications' %}active{% endif %}"><a href="{% url 'notifications' %}">
            <i class='icon-search'></i> Notifications
            <span class='label pull-right counter'>0</span>
        </a></li>
        <li class="{% if current_page == 'contacts' %}active{% endif %}"><a href="{% url 'contacts' %}">
            <i class='icon-search'></i> User Contacts
            <span class='label pull-right counter'>0</span>
        </a></li>
    </ul>
</div>

<div id='page_links' class='span12 links'>
    <div class='group_link_head'>WALLS</div>
    <ul class='group_link vertical'>
        <li><a href="">
            <i class='icon-search'></i> Personal page
            <span class='label pull-right counter'>0</span>
        </a></li>
        <li><a href='#'>
            <i class='icon-search'></i> Department page
            <span class='label pull-right counter'>0</span>
        </a></li>
        <li><a href='#'>
            <i class='icon-search'></i> Event page
            <span class='label pull-right counter'>0</span>
        </a></li>
    </ul>
    
</div>

<div id='portal_links' class='span12 links'>
    <div class='group_link_head'>PORTALS</div>
    <ul class='group_link vertical'>
        <li><a href='#'>
            <i class='icon-search'></i> Events Portal
            <span class='label pull-right counter'>1000</span>
        </a></li>
        <li><a href='#'>
            <i class='icon-search'></i> Personal page
            <span class='label pull-right counter'>0</span>
        </a></li>
        <li><a href='#'>
            <i class='icon-search'></i> Personal page
            <span class='label pull-right counter loading'><i class='icon-loading'></i></span>
        </a></li>
    </ul>
    
</div>


