{% load staticfiles %}

<div class='topbar'>
    <div class='topbar-inner'>
        <div class='container-fluid'>
            <div class='row-fluid'>
                <a class='brand offset1 bold' href='{{ SITE_URL }}'>{{ FEST_NAME }}</a>
                <ul class='nav jewels'>
                    <li><a href='#' class='jewelButton userButton'><span class='label label-important pull-right counter'>0</span></a></li>
                    <li><a href='#' class='jewelButton messageButton'><span class='label label-info pull-right counter'>0</span></a></li>
                    <li><a href='#' class='jewelButton notifButton'><span class='label label-info pull-right counter'>0</span></a></li>
                </ul>
                <ul class='nav searchbar'>
                    <li>
                        <input class='input-xxlarge' id='' name='' type='text' placeholder='Search for people, events and pages'>
                        <button type='submit'></button>
                    </li>
                </ul>
                <div class='span1 pull-right'></div>
                <ul class='nav links pull-right'>
                    <li class='topbar_profile'><a href="{% url 'profile' %}">
                        <img class='profile_dp' src='{% static "img/temp/profile.jpg" %}' />
                        <span class='profile_name'>{{ user.get_full_name }}</span>
                    </a></li>
                    <li><a href='{{ SITE_URL }}' class='bold'><span>Home</span></a></li>
                    <li><a href='#' class='settingButton'><span>&nbsp;</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

