{% load staticfiles %}

<div class='topbar'>
    <div class='topbar-inner'>
        <div class='container-fluid'>
            <div class='row-fluid'>
                <a class='brand offset1 bold' href='{{ SITE_URL }}'>{{ FEST_NAME }}</a>
                <ul class='nav jewels'>
                    {% comment %}
                    <li><a href='javascript:void(0)' class='jewelButton userButton'>
                    	<!--<span class='label label-important pull-right counter'>0</span>-->
                    </a></li>
                    <li><a href='javascript:void(0)' class='jewelButton messageButton'>
                    	<!--<span class='label label-info pull-right counter'>0</span>-->
                    </a></li>
                    {% endcomment %}
                    <li><a href='javascript:void(0)' class='jewelButton notifButton'>
                    	{% if user.notifications.unread.count != 0 %}
                    		<span class='label label-info pull-right counter'>{{ user.notifications.unread.count }}</span>
                    	{% endif %}
                    </a></li>
                </ul>
                <ul class='nav topbar_searchbar searchbar'>
                    <li>
                        <input class='input-xxlarge' id='topbar_search_input' name='' type='text' placeholder='Search for people, events and pages'>
                        <button type='submit'></button>
                    </li>
                </ul>
                <div class='span1 pull-right'></div>
                <ul class='nav links pull-right'>
                    <li class='topbar_profile'><a href="{% url 'profile' %}">
                        <img class='profile_dp' src='{% static "img/temp/profile.jpg" %}' />
                        <span class='profile_name'>{{ user.get_full_name }}</span>
                    </a></li>
                    <li>
                        <a href='{{ SITE_URL }}' class='bold'><span>Home</span></a>
                    </li>
                    <li>
                        <a href='javascript:void(0)' class='settingButton'><span>&nbsp;</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
.topbar div > ul.nav.links li.topbar_profile a, .nav.links li.topbar_profile a {
    padding: 0px 0px 0px 0px;
    margin: 5px 0 0 0px;
}
.topbar div > ul.nav.links li.topbar_profile a .profile_name, .nav.links li.topbar_profile a .profile_name {
    padding: 0px 0px 0px 0px;
    margin: 5px 5px 0px 0px;
    max-width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}
.topbar .profile_dp {
    height : 23px;
    width : 23px;
    margin: 3px 5px 3px 3px;
}
#atwho-ground-topbar_search_input {
	z-index : 1;
}
.topbar {
   /*position : fixed;*/
   z-index : 1;
}
.below_topbar > div {
    padding-top : 5px;
}
@media (min-width: 940px) {
    .topbar {
	   position : fixed;
    }
    .below_topbar {
        margin-top : 40px;
    }
}
.topbar_searchbar button {
    
}

</style>