{% extends 'pages/login.html' %}

{% block right_login_content %}
	
	<p>
        <h3 class="center"> Woah There ! </h3>
        <br /><br />
        <div class="center muted"> You cannot immediately login with these </div>
        <br /><br /><br /><br />
    
        <h3 class="center"> Confused ? </h3>
        <h4 class="center muted"> Here's what you gotta do : </h4>
        <h4 class="center muted"> Here's what you gotta do : </h4>
    
        <br /><br />
        <div class="bold center">OR</div>
        <br />
        <a class="zocial logout full_width" href="{% url 'logout' %}">Sign Out</a>
    
    </p> 
{% endif %}