{% extends 'pages/login.html' %}

{% block right_login_content %}
	
	<p>
        <h3 class="center"> Woah There ! </h3>
        <br /><br />
        <h3 class="center muted"> You have to login with your password <div class="bold black">AT LEAST ONCE</div> </h3>
        <br /><br /><br />
    
        <h3 class="center"> Confused ? </h3>
        <h4 class="center muted"> Here's what you gotta do : </h4>
        <br /><br />
        <div class=""> 
        	- Check your EMail for your password. 
        	<br /><br />
        	- <span style="color:red">Check SPAM</span> if you can't find it
        	<br /><br />
            - Still can't find it ? Two possibilities :<br /><br />
            <ul style="margin-left : 50px">
                <li>We cupped and did not send you your password - Contact <!--<a href="mailto:webops@shaastra.org">-->webops<!--</a>--> team</li>
                <br />
                <li>You are not allowed to access the ERP - Ouch.</li>
            </ul>
        	- Use that password to login
        	<br /><br />
        	- Click "Login with facebook" button 
        	<br /><br />
        	- <span class="bold">DONE</span>
        	
        </div>

        <h3 class="center"> If you've done that already ... </h3>
        <br /><br />
        <div class=""> 
            You have not associated with this social account yet. To associate :
            <br /><br />
            - Login using password or a pre-associated social account
            <br /><br />
            - Go to your profile page to associate with this social account.
            <br /><br />
            - Now you can login with the social account next time
            <br /><br />
        </div>
    
        
    </p> 
{% endblock %}