
{% block content %}
<div class="non-home-content">
	<div class="container">
		<div class="row">
			{% for message in messages %}
			<div class="span8 offset2">
				<div class="alert {{ message.tags }} center">
					<button type="button" class="close" data-dismiss="alert">×</button>
					{{ message|safe }}
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="row">
	      <div class="span8 offset2">
			<div class="hero-unit no-background">
				<div class="page-header">
					<h2>Change your password</h2>
					<p>Enter your old password, for security's sake. Then, enter your new password twice ...</p>
					<p class="pull-right"><small>... so that we know you typed it in correctly.</small></p>
				</div>
				<div>
					<form action = "" method = "POST">
						{% csrf_token %}
						<table class="table table-bordered">
							{% for field in form %}
							<tr>
								<td>{{ field.label_tag }}</td><td>{{ field }} <div class="helptext">{{ field.help_text }}</div></td>{% if field.errors %}<td>{{ field.errors }}</td>{% endif %}
							</tr>
							{% endfor %}
							<tr>
								<td colspan="2"><div class="center"><input class="btn" type="submit" name="editprofile" value="Change my password">
								<!-- <a class="btn btn-link" href="{% url 'bloodline_server.views.home' %}">Cancel</a> -->
								</div>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
	      </div>
		</div>
	</div>
</div>
{% endblock %}