{% extends "pages/login.html" %}

{% block full_content %}
<div class="below_loginbar">
	<div class="container-fluid">
		<div class="row-fluid">
	      	<div class="span6 offset3 well">
				<div class="center">
					<h2>Choose a new password</h2>
					<p>Please enter your new password twice ...</p>
				</div>
				<div class="center">
					<form action = "" method = "POST">
						{% csrf_token %}
						<div class="row-fluid">
							{% for field in form %}
								<div class="span6"><span class="pull-right">{{ field.label_tag }}</span></div>
								<div class="span6">{{ field }}</div>
							{% endfor %}
						</div>

						<div class="center row-fluid">
							<div class="span12">
								<input class="btn primary" type="submit" name="editprofile" value="Change my password">
							</div>
						</div>
							
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block extra_css %}
{{ block.super }}
<style>
    .below_loginbar {
        margin-top : 100px;
    }
    .big {
        font-size : 30px;
        line-height : 40px;
    }
</style>
{% endblock %}

{% block extra_js %}
{{ block.super }}

{% endblock %}