{% extends "pages/login.html" %}

{% block full_content %}
<div class="below_loginbar">
	<div class="container-fluid">
		<div class="row-fluid">
	      	<div class="span6 offset3 well center">
				<p class="bold big">All Set.</p>
				<p class="">Your password has been set. Go right ahead and <a href="{% url 'home' %}">log in!</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block extra_css %}
{{ block.super }}
<style>
    .below_loginbar {
        margin-top : 100px;
    }
    .big {
        font-size : 30px;
        line-height : 40px;
    }
</style>
{% endblock %}

{% block extra_js %}
{{ block.super }}

{% endblock %}